@model SailScores.Web.Models.SailScores.ClubRequestWithOptionsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Club Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="ClubName" class="control-label"></label>
                <input asp-for="ClubName" class="form-control" />
                <span asp-validation-for="ClubName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ClubInitials" class="control-label"></label>
                <input asp-for="ClubInitials" class="form-control" />
                <span asp-validation-for="ClubInitials" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ClubLocation" class="control-label"></label>
                <input asp-for="ClubLocation" class="form-control" />
                <span asp-validation-for="ClubLocation" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ClubWebsite" class="control-label"></label>
                <input asp-for="ClubWebsite" class="form-control" />
                <span asp-validation-for="ClubWebsite" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ContactName" class="control-label"></label>
                <input asp-for="ContactName" class="form-control" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ContactEmail" class="control-label"></label>
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Classes" class="control-label"></label>
                <input asp-for="Classes" class="form-control" />
                <span asp-validation-for="Classes" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TypicalDiscardRules" class="control-label"></label>
                <input asp-for="TypicalDiscardRules" class="form-control" />
                <span asp-validation-for="TypicalDiscardRules" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control" cols="60" rows="6"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RequestSubmitted" class="control-label"></label>
                <input asp-for="RequestSubmitted" class="form-control" />
                <span asp-validation-for="RequestSubmitted" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RequestApproved" class="control-label"></label>
                <input asp-for="RequestApproved" class="form-control" />
                <span asp-validation-for="RequestApproved" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AdminNotes" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control" cols="60" rows="6"></textarea>
                <span asp-validation-for="AdminNotes" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TestClubId" class="control-label"></label>
                <select asp-for="TestClubId" class="form-select">
                    <option selected="selected" value="@Guid.Empty">Blank</option>
                    @foreach (var club in Model.ClubOptions.OrderBy(c => c.Name))
                    {
                        <option value="@club.Id">@club.Initials - @club.Name</option>
                    }
                </select>
                <span asp-validation-for="TestClubId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="VisibleClubId" class="control-label"></label>
                <select asp-for="VisibleClubId" class="form-select">
                    <option selected="selected" value="@Guid.Empty">Blank</option>
                    @foreach (var club in Model.ClubOptions.OrderBy(c => c.Name))
                    {
                        <option value="@club.Id">@club.Initials - @club.Name</option>
                    }
                </select>
                <span asp-validation-for="VisibleClubId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
