@model IEnumerable<SailScores.Web.Models.SailScores.ClubRequestViewModel>

@{
    ViewData["Title"] = "List";
}

<h1 id="clubRequestTitle">Requests for Club Creation</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" aria-describedby="clubRequestTitle">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ClubName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ClubInitials)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ClubLocation)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ClubWebsite)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.RequestSubmitted)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AdminNotes)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubInitials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubWebsite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminNotes)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
