@model SailScores.Web.Models.SailScores.FleetWithOptionsViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h2>Create</h2>

<h4>Fleet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <small>Should be unique within this club; for URLs, e.g. 2019DieHardMCs</small>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <small>Does not need to be unique, used for display only, e.g. MC Scows</small>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FleetType" class="control-label"></label>
                <select id="fleetType" asp-for="FleetType" class="form-control"
                        asp-items="(Html.GetEnumSelectList<SailScores.Api.Enumerations.FleetType>())"
                        onchange="checkVisibility()">
                    <option selected="selected" value="">Select the type of Fleet</option>
                </select>
                <span asp-validation-for="FleetType" class="text-danger"></span>
            </div>
            <div id="classSelectGroup" class="form-group">
                <label asp-for="BoatClassIds" class="control-label">Class</label>
                <select multiple asp-for="BoatClassIds" class="form-control">
                    @foreach (var boatclass in Model.BoatClassOptions)
                    {
                        <option value="@boatclass.Id">
                            @boatclass.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="BoatClassIds" class="text-danger"></span>
            </div>
            <div id="boatSelectGroup" class="form-group">
                <label asp-for="CompetitorIds" class="control-label">Competitors</label>
                <select multiple asp-for="CompetitorIds" class="form-control custom-select selectpicker">
                    @foreach (var competitor in Model.CompetitorOptions.OrderBy(c => c.SailNumber)
                    .ThenBy(c => c.AlternativeSailNumber)
                    .ThenBy(c => c.Name))
                    {
                        <option value="@competitor.Id">
                            @competitor.SailNumber - @competitor.Name (@competitor.BoatClass.Name)
                        </option>
                    }
                </select>
                <span asp-validation-for="CompetitorIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-controller="Admin"
                   asp-action="Index"
                   asp-fragment="fleets"
                   class="btn btn-outline-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function checkVisibility() {
            var f = document.getElementById('fleetType');
            var fType = f.options[f.selectedIndex].text;
            if (fType.indexOf('Class') > -1) {
                document.getElementById('classSelectGroup').style.display = 'block';
            } else {
                document.getElementById('classSelectGroup').style.display = 'none';
            }
            if (fType.indexOf('Selected Boats') > -1) {
                document.getElementById('boatSelectGroup').style.display = 'block';
            } else {
                document.getElementById('boatSelectGroup').style.display = 'none';
            }
        };
        checkVisibility();

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
}
