@model SailScores.Web.Models.SailScores.FleetWithOptionsViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h4>Edit Fleet
@if(Model.Regatta != null)
    {
        <small>for regatta: <span class="text-info">@Model.Regatta.Season.Name @Model.Regatta.Name</span></small>
    } else if(Model.RegattaId != null)
    {
        <small class="="text-muted">(a regatta fleet)</small>
    }
</h4>
<hr />
<div class="row">
    <div class="col-lg-6 col-md-8">
        <form asp-action="Edit"
              asp-route-returnurl="@ViewData["ReturnUrl"]">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" id="clubId" asp-for="ClubId" />            
            <input type="hidden" id="regattaId" asp-for="RegattaId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <a class="text-primary"
                   data-bs-container="body"
                   data-bs-toggle="popover"
                   data-bs-placement="top"
                   data-bs-trigger="focus hover"
                   data-bs-content="Full name including spaces such as: 2019 Die Hard MC Scows">
                    <span class="far fa-question-circle"></span>
                </a>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ShortName" class="control-label"></label>
                <a class="text-primary"
                   data-bs-container="body"
                   data-bs-toggle="popover"
                   data-bs-placement="top"
                   data-bs-trigger="focus hover"
                   data-bs-content="Used to create URLs; avoid spaces. Should be unique for this club, e.g. 2019DieHardMCs">
                    <span class="far fa-question-circle"></span>
                </a>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NickName" class="control-label"></label>
                <a class="text-primary"
                   data-bs-container="body"
                   data-bs-toggle="popover"
                   data-bs-placement="top"
                   data-bs-trigger="focus hover"
                   data-bs-content="Used as a display name, this does not need to be unique, e.g. MC Scows">
                    <span class="far fa-question-circle"></span>
                </a>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" asp-for="IsActive" />
                    <label class="form-check-label"> Is an Active Fleet</label>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FleetType" class="control-label"></label>
                <select id="fleetType" asp-for="FleetType" class="form-select"
                        asp-items="(Html.GetEnumSelectList<SailScores.Api.Enumerations.FleetType>())"
                        onChange="checkFleetOptionVisibility()">
                </select>
                <span asp-validation-for="FleetType" class="text-danger"></span>
            </div>
            <div id="classSelectGroup" class="mb-3">
                <label asp-for="BoatClassIds" class="control-label">Class</label>
                <select multiple asp-for="BoatClassIds" class="form-select">
                    @foreach (var boatclass in Model.BoatClassOptions)
                    {
                        <option value="@boatclass.Id">
                            @boatclass.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="BoatClassIds" class="text-danger"></span>
            </div>
            <div id="boatSelectGroup" class="mb-3">
                <div class="row">
                    <div class="col-8 col-md-6">
                        <label asp-for="CompetitorIds" class="control-label">Competitors</label>
                    </div>
                    <div class="col-4 col-md-6">
                        <button type="button" class="btn btn-outline-warning btn-sm" id="inactiveCompButton">
                            Remove Inactive
                        </button>
                    </div>
                </div>
                <select multiple asp-for="CompetitorIds" id="competitorIds" class="form-select form-select">
                    @foreach (var competitor in Model.CompetitorOptions)
                    {
                        <option value="@competitor.Id"
                                selected="@(Model.CompetitorIds.Contains(competitor.Id))" 
                                data-active="@competitor.IsActive">
                            @competitor.SailNumber - @competitor.Name (@competitor.BoatClass.Name)
                        </option>
                    }
                </select>
                <span asp-validation-for="CompetitorIds" class="text-danger"></span>
            </div>
            <div id="compCreateGroup" class="mb-3">
                <input id="createCompButton" type="button" value="Create New Competitor" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#createCompetitor" />
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (String.IsNullOrWhiteSpace((String)ViewData["ReturnUrl"]))
                {
                    <a asp-controller="Admin"
                       asp-action="Index"
                       asp-fragment="fleets"
                       class="btn btn-outline-primary">Cancel</a>
                } else
                {
                    <a href="@ViewData["ReturnUrl"]"
                       class="btn btn-outline-primary">Cancel</a>
                }
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_competitorCreate", Model)
@section Scripts {
    <script type="text/javascript">
        function checkFleetOptionVisibility() {
            var f = document.getElementById('fleetType');
            var fType = f.options[f.selectedIndex].text;
            if (fType.indexOf('Class') > -1) {
                document.getElementById('classSelectGroup').style.display = 'block';
            } else {
                document.getElementById('classSelectGroup').style.display = 'none';
            }
            if (fType.indexOf('Selected Boats') > -1) {
                document.getElementById('boatSelectGroup').style.display = 'block';
                document.getElementById('compCreateGroup').style.display = 'block';
            } else {
                document.getElementById('boatSelectGroup').style.display = 'none';
                document.getElementById('compCreateGroup').style.display = 'none';
            }
        };
        checkFleetOptionVisibility();
        function removeInactiveComps() {
                $('#competitors option[data-active="False"]').remove();
                // $('#competitors').selectpicker('refresh');
        }
        document.getElementById("inactiveCompButton").onclick = removeInactiveComps;
    </script>
    
    <script src="~/js/fleetEditor.min.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script>
        $(function () {
            $('[data-bs-toggle="popover"]').popover()
        })

        $("select").on('select2:unselecting', event => {
            if (!event.params.args.originalEvent) return;
            event.params.args.originalEvent.stopPropagation();
        });
    </script>
}
