@model SailScores.Web.Models.SailScores.FleetWithOptionsViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h2>Edit</h2>
<h4>Fleet</h4>
<hr />
<div class="row">
    <div class="col-lg-4 col-md-8">
        <form asp-action="Edit"
              asp-route-returnurl="@ViewData["ReturnUrl"]">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ClubId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <small>Should be unique within this club; for URLs, e.g. 2019DieHardMCs</small>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <small>Does not need to be unique, used for display only, e.g. MC Scows</small>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" asp-for="IsActive" />
                    <label class="form-check-label"> Is an Active Fleet</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FleetType" class="control-label"></label>
                <select id="fleetType" asp-for="FleetType" class="form-control"
                        asp-items="(Html.GetEnumSelectList<SailScores.Api.Enumerations.FleetType>())"
                        onchange="checkVisibility()">
                </select>
                <span asp-validation-for="FleetType" class="text-danger"></span>
            </div>
            <div id="classSelectGroup" class="form-group">
                <label asp-for="BoatClassIds" class="control-label">Class</label>
                <select multiple asp-for="BoatClassIds" class="form-control selectpicker">
                    @foreach (var boatclass in Model.BoatClassOptions)
                    {
                        <option value="@boatclass.Id">
                            @boatclass.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="BoatClassIds" class="text-danger"></span>
            </div>
            <div id="boatSelectGroup" class="form-group">
                <label asp-for="CompetitorIds" class="control-label">Competitors</label>
                <select multiple asp-for="CompetitorIds" class="form-control selectpicker">
                    @foreach (var competitor in Model.CompetitorOptions.OrderBy(c => c.SailNumber))
                    {
                        <option value="@competitor.Id" selected="@(Model.CompetitorIds.Contains(competitor.Id))">
                            @competitor.SailNumber - @competitor.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="CompetitorIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-controller="Admin"
                   asp-action="Index"
                   asp-fragment="fleets"
                   class="btn btn-outline-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function checkVisibility() {
        var f = document.getElementById('fleetType');
        var fType = f.options[f.selectedIndex].text;
        if (fType.indexOf('Class') > -1) {
            document.getElementById('classSelectGroup').style.display = 'block';
        } else {
            document.getElementById('classSelectGroup').style.display = 'none';
        }
        if (fType.indexOf('Selected Boats') > -1) {
            document.getElementById('boatSelectGroup').style.display = 'block';
        } else {
            document.getElementById('boatSelectGroup').style.display = 'none';
        }
    };
    checkVisibility();
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
}
