@model SailScores.Web.Models.SailScores.FleetWithOptionsViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h2>Edit</h2>

<h4>Fleet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ClubId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FleetType" class="control-label"></label>
                <select id="fleetType" asp-for="FleetType" class="form-control"
                        asp-items="(Html.GetEnumSelectList<SailScores.Api.Enumerations.FleetType>())"
                        onchange="checkVisibility()">
                    <option selected="selected" value="">Select the type of Fleet</option>
                </select>
                <span asp-validation-for="FleetType" class="text-danger"></span>
            </div>
            <div id="classSelectGroup" class="form-group">
                <label asp-for="BoatClassIds" class="control-label">Class</label>
                <select multiple asp-for="BoatClassIds" class="form-control">
                    @foreach (var boatclass in Model.BoatClassOptions)
                    {
                        <option value="@boatclass.Id">
                            @boatclass.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="BoatClassIds" class="text-danger"></span>
            </div>
            <div id="boatSelectGroup" class="form-group">
                <label asp-for="CompetitorIds" class="control-label">Competitors</label>
                <select multiple asp-for="CompetitorIds" class="form-control">
                    @foreach (var competitor in Model.CompetitorOptions.OrderBy(c => c.SailNumber))
                    {
                        <option value="@competitor.Id"  selected="@(Model.CompetitorIds.Contains(competitor.Id))">
                            @competitor.SailNumber - @competitor.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="CompetitorIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Admin"
       asp-action="Edit"
       asp-fragment="fleets">Back to List</a>
</div>

<script type="text/javascript">
    function checkVisibility() {
        var f = document.getElementById('fleetType');
        var fType = f.options[f.selectedIndex].text;
        if (fType.indexOf('Class') > -1) {
            document.getElementById('classSelectGroup').style.display = 'block';
        } else {
            document.getElementById('classSelectGroup').style.display = 'none';
        }
        if (fType.indexOf('Selected Boats') > -1) {
            document.getElementById('boatSelectGroup').style.display = 'block';
        } else {
            document.getElementById('boatSelectGroup').style.display = 'none';
        }
    };
    checkVisibility();
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
