@using SailScores.Web.Models.SailScores;
@using SailScores.Web.Services.Interfaces
@model ClubItemViewModel<RaceViewModel>
@inject IWeatherService  weatherService

@{
    ViewBag.Title = Model.ClubInitials + " " + Model.Item.DisplayName;
    ViewData["MetaDescription"] = $"{Model.ClubInitials} {Model.Item.DisplayName} Race Results";
    Layout = "_ClubLayout";
}
<div class="container">
    <div class="row">
        <div class="col-md-8">

    <div class="row">
        <div class="col-sm-10">
            <h1 id="racetitle" class="h2">
                @Model.Item.DisplayName
            </h1>
            @if (Model.CanEdit)
            {
                <a class="btn btn-outline-primary btn-sm"
                   asp-area=""
                   asp-action="Edit"
                   asp-route-returnUrl="@Context.Request.Path"
                   asp-route-id="@Model.Item.Id">Edit</a>
                <a class="btn btn-outline-danger btn-sm"
                   asp-area=""
                   asp-action="Delete"
                   asp-route-returnUrl="@Context.Request.Path"
                   asp-route-id="@Model.Item.Id">Delete</a>
            }
            @if (Model.Item.Regatta != null)
            {
                var regatta = Model.Item.Regatta;
                        <h4><a href="~/@Model.ClubInitials/Regatta/@regatta.Season.UrlName/@regatta.UrlName">@regatta.Season.Name @regatta.Name</a></h4>
            }
            <h4>
                @Model.Item.Fleet?.Name
            </h4>
        </div>
        <div class="col-sm-2 text-sm-end weather">
            @if (!String.IsNullOrWhiteSpace(Model.Item.Weather?.WindDirection))
            {
                <span class="wi wi-wind from-@Model.Item.Weather.WindDirection-deg ss-wi-large" data-bs-toggle="tooltip" title="@Model.Item.Weather.WindDirection°"></span>
            }
            <span class="h3" data-bs-toggle="tooltip" title="@Model.Item.Weather?.WindSpeedUnits">
                @if (!String.IsNullOrWhiteSpace(Model.Item.Weather?.WindSpeed))
                {
                    //This is hideous, but the easiest way to avoid a space between the two elements.
                    @(Model.Item.Weather.WindSpeed)}
                @if (!String.IsNullOrWhiteSpace(Model.Item.Weather?.WindGust))
                {@($"(g{Model.Item.Weather.WindGust})")
                }
            </span>
            @if (!string.IsNullOrWhiteSpace(Model.Item.Weather?.Icon))
            {
                <span class="wi @weatherService.GetIconCharacter(Model.Item.Weather?.Icon) ss-wi-large" data-bs-toggle="tooltip" title="@Model.Item.Weather?.Description"></span>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Item.Weather?.Temperature))
            {
                <span class="h3" data-bs-toggle="tooltip" title="@Model.Item.Weather?.TemperatureUnits">@Model.Item.Weather.Temperature°</span>
            }
        </div>
        </div>
        @if(Model.Item.Regatta == null)
        {

            <ul>
            @foreach (var series in @Model.Item.Series)
        {
            <li>
                <a href="~/@Model.ClubInitials/@Model.Item.Season.UrlName/@series.UrlName">
                    @Html.DisplayFor(modelItem => series.Name)
                </a>
            </li>
        }
    </ul>
                }
    @if (Model.Item.State == SailScores.Api.Enumerations.RaceState.Preliminary)
    {
        <p class="text-warning"><strong>Preliminary Results</strong></p>
    }
    <p>@Model.Item.Description</p>
    @if (!String.IsNullOrWhiteSpace(Model.Item.TrackingUrl))
    {
        <div class="row">
            <div class="col-12">
                <p><a href="@Model.Item.TrackingUrl" target="_blank"><span class="fas fa-external-link-alt"></span> Race Tracking</a></p>
            </div>
        </div>
    }
    <table class="table" aria-describedby="racetitle">
        <thead>
        <tr>
            <th scope="col">Place</th>
            <th scope="col">Sail</th>
            <th scope="col">Sailor(s)</th>
            <th scope="col">Boat</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var score in Model.Item.Scores)
        {
            <tr>
                <td>
                    @((score.Place != null && score.Place != 0) ? score.Place.ToString() : "")
                    @(!String.IsNullOrWhiteSpace(score.Code) ? $"{score.Code} - {score.ScoreCode.Description}" : "")
                </td>
                <td>
                    @score.Competitor.SailNumber
                    @if (!String.IsNullOrWhiteSpace(score.Competitor.AlternativeSailNumber))
                    {
                        @:(@score.Competitor.AlternativeSailNumber)
                    }
                </td>
                <td>
                    @score.Competitor.Name
                </td>
                <td>
                    @score.Competitor.BoatName
                </td>
            </tr>
        }
        </tbody>
    </table>
    @if (!String.IsNullOrWhiteSpace(Model.Item.UpdatedBy))
    {
        <span class="text-end"><small><em>Updated by @Model.Item.UpdatedBy</em></small></span><br/>
    }

        </div>
    
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })
    </script>
}