@using Microsoft.AspNetCore.Routing
@using SailScores.Web.Models.SailScores;
@using SailScores.Core.Model;
@model ClubItemViewModel<RaceViewModel>

@{
    ViewBag.Title = Model.ClubInitials + " " + Model.Item.DisplayName;
    Layout = "_ClubLayout";
}

<h2>
    @Model.Item.DisplayName
</h2>
@if (Model.CanEdit)
{
    @Html.ActionLink("Edit", "Edit", "Race",
    new { id = Model.Item.Id, returnUrl = Context.Request.Path },
        new { @class = "btn btn-outline-primary btn-sm" })
}
<h4>
    @Model.Item.Fleet.Name
</h4>
<ul>
    @foreach (var series in @Model.Item.Series)
    {
        <li>
            <a href="~/@Model.ClubInitials/@Model.Item.Season.Name/@series.UrlName">
                @Html.DisplayFor(modelItem => series.Name)
            </a>
        </li>
    }
</ul>
<p>@Model.Item.Description</p>
@if (!String.IsNullOrWhiteSpace(Model.Item.TrackingUrl))
{
    <div class="row">
        <div class="col-12">
            <p><a href="@Model.Item.TrackingUrl" target="_blank"><span class="fas fa-external-link-alt"></span> Race Tracking</a></p>
        </div>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>Place</th>
            <th>Sail</th>
            <th>Sailor</th>
            <th>Boat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var score in Model.Item.Scores)
        {
            <tr>
                <td>
                    @((score.Place == null || score.Place == 0) ? $"{score.Code} - {score.ScoreCode.Description}" : score.Place.ToString())
                </td>
                <td>
                    @score.Competitor.SailNumber
                    @if (!String.IsNullOrWhiteSpace(score.Competitor.AlternativeSailNumber))
                    {
                        @:(@score.Competitor.AlternativeSailNumber)
                    }
                </td>
                <td>
                    @score.Competitor.Name
                </td>
                <td>
                    @score.Competitor.BoatName
                </td>
            </tr>
        }
    </tbody>
</table>
