@using SailScores.Web.Extensions

@model SailScores.Web.Models.SailScores.RaceWithOptionsViewModel

@{
    ViewBag.Title = "Edit Race";
    Layout = "_ClubLayout";
}

<div class="container p-0 justify-content-between">
    <h4>Update race</h4>
    <hr />
    <form id="raceform" asp-action="Edit"
          asp-route-returnurl="@ViewData["ReturnUrl"]">
        <input type="hidden" id="clubInitials" asp-for="ClubInitials" />
        <input type="hidden" id="clubId" asp-for="ClubId" />
        <input type="hidden" id="Id" asp-for="Id" />
        <input type="hidden" id="defaultWeather" value="false" />
        <input type="hidden" asp-for="Weather.TemperatureUnits" />
        <input type="hidden" asp-for="Weather.WindSpeedUnits" />
        <input type="hidden" id="cloudCover" asp-for="Weather.CloudCoverPercent" />
        <input type="hidden" id="humidity" asp-for="Weather.Humidity" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3 row">
            <div class="col-md-6">
                <div class="row">
                <label asp-for="Date" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input id="date" asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                <label asp-for="Order" class="col-4 col-form-label">Order</label>
                <div class="col-8">
                    <input asp-for="Order" class="form-control col-8" type="number" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label asp-for="FleetId" class="control-label">Fleet</label>
                <a class="text-primary"
                    data-bs-container="body"
                    data-bs-toggle="popover"
                    data-bs-placement="top"
                    data-bs-trigger="focus hover"
                    data-bs-content="Controls the list of available competitors.">
                    <span class="far fa-question-circle"></span>
                </a>
                <select id="fleetId" asp-for="FleetId" class="form-select">
                    <option selected="selected">Select a fleet...</option>
                    @foreach (var fleet in Model.FleetOptions)
                    {
                        <option value="@fleet.Id"
                                data-boat-class-id="@(fleet.BoatClasses?.Count == 1 ? fleet.BoatClasses[0].Id.ToString():"")">
                            @fleet.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="FleetId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="SeriesIds" class="control-label">Series</label>
                <select id="seriesIds" asp-for="SeriesIds" class="form-select" multiple>
                    @foreach (var series in Model.SeriesOptions)
                    {
                        <option value="@series.Id">
                            @series.Name (@series.Season.Name)
                        </option>
                    }
                </select>
                <span asp-validation-for="SeriesIds" class="text-danger"></span>
            </div>
        </div>
        <div id="advancedFields" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="advancedHeading">
                    <h5 class="mb-0">
                        <a class="collapsed" data-bs-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
                            Optional Fields<span class="fas fa-chevron-down"></span></a>
                    </h5>
                </div>

                <div id="collapseAdvanced" class="collapse" role="tabpanel" aria-labelledby="advancedHeading" data-parent="#advancedFields">
                    <div class="card-body">
                        <div class="mb-3 px-0">
                            <div class="row">
                                <div class="mb-3 col-6 px-1">
                                    <div class="row">
                                        <label asp-for="State" class="control-label col-form-label col-4 pe-0 text-end"></label>
                                    <div class="col-8">
                                    <select id="raceState" asp-for="State" class="form-select"
                                            asp-items="@(Html.GetEnumSelectList<SailScores.Api.Enumerations.RaceState>())"></select>
                                        <span asp-validation-for="State" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 px-1">
                                    <div class="row">
                                        <label asp-for="Weather.Description" class="control-label col-3 col-md-2 col-form-label pe-0 text-end">Weather</label>
                                        <div class="col-3 col-md-2 pe-1">
                                        <select id="weatherIcon" asp-for="Weather.Icon" data-show-content="true" class="form-select select2-icon pe-1">
                                            <option>Select...</option>
                                            @foreach (var icon in Model.WeatherIconOptions)
                                            {
                                                <option data-icon="@icon.Value" value="@icon.Key">@icon.Key</option>
                                            }
                                        </select>
                                        </div>
                                        <div class="col-6 col-md-8 ps-1">
                                            <input id="weatherDescription" asp-for="Weather.Description" class="form-control weather-input" />
                                            <span asp-validation-for="Weather.Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6 px-1">
                                <div class="row">
                                    <label asp-for="Weather.WindSpeed" class="control-label col-4 col-form-label pe-0 text-end">Wind</label>
                                    <div class="col-4">
                                        <input id="windSpeed" asp-for="Weather.WindSpeed" class="form-control text-center" type="number" />
                                    </div>
                                    <div class="col-4 col-form-label ps-0">@Model.Weather?.WindSpeedUnits</div>
                                    <span asp-validation-for="Weather.WindSpeed" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-6 px-1">
                                <div class="row">
                                    <label asp-for="Weather.WindDirection" class="control-label col-4 col-form-label pe-0 text-end">Dir</label>
                                    <div class="col-4">
                                        <input id="windDirection" asp-for="Weather.WindDirection" class="form-control text-center" />
                                        <span asp-validation-for="Weather.WindDirection" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6 px-1">
                                <div class="row">
                                    <label asp-for="Weather.WindGust" class="control-label col-4 col-form-label pe-0 text-end">Gust</label>
                                    <div class="col-4">
                                        <input id="windGust" asp-for="Weather.WindGust" class="form-control text-center" type="number" />
                                    </div>
                                    <div class="col-4 col-form-label ps-0">@Model.Weather?.WindSpeedUnits</div>
                                    <span asp-validation-for="Weather.WindGust" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-6">
                                <div class="row">
                                    <label asp-for="Weather.Temperature" class="control-label col-4 col-form-label pe-0 text-end">Temp</label>
                                    <div class="col-4">
                                        <input id="temperature" asp-for="Weather.Temperature" class="form-control text-center" type="number" />
                                    </div>
                                    <div class="col-4 col-form-label ps-0">@Model.Weather?.TemperatureLabel</div>
                                    <span asp-validation-for="Weather.Temperature" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 px-1">
                                <div class="row">
                                    <label asp-for="Name" class="control-label col-3 col-md-2 col-form-label pe-0 text-end">Name</label>
                                    <div class="col-9 col-md-10">
                                        <input asp-for="Name" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 px-1">
                                <div class="row">
                                    <label asp-for="Description" class="control-label col-6 col-md-2 col-form-label pe-0 text-md-end">Comments</label>
                                    <div class="col-12 col-md-10">
                                        <input asp-for="Description" class="form-control col-12 col-md-10" />
                                    </div>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 px-1">
                                <div class="row">
                                    <label asp-for="TrackingUrl" class="control-label col-3 col-md-2 col-form-label pe-0 text-end">Tracking Url</label>
                                    <div class="col-9 col-md-10">
                                        <input asp-for="TrackingUrl" class="form-control col-9 col-md-10" />
                                    </div>
                                    <span asp-validation-for="TrackingUrl" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-md-3 col-12 col-md-6 px-1">
                                <div class="row">
                                    <label asp-for="StartTime" class="control-label col-3 col-md-4 col-form-label text-end">Start Time</label>
                                    <div class="col-9 col-md-8">
                                        <input asp-for="StartTime" class="form-control" type="time" step="1" />
                                        <span asp-validation-for="StartTime" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 d-md-none"></div>
                            <div class="mb-md-3 col-9 col-md-6 px-1 mt-md-2">
                                <div class="form-check">
                                    <input asp-for="TrackTimes" class="form-check-input" type="checkbox" id="trackTimesCheckbox" />
                                    <label class="form-check-label" asp-for="TrackTimes">Track Finish Times</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8 pb-3">
                <ul class="list-group" id="results">
                    @await Html.PartialAsync("_scoreEntryPartial", Model)
                    @for (int i = 0; i < Model.Scores.Count; i++)
{
    var score = Model.Scores[i];
    <li id="@score.CompetitorId" class="list-group-item"
        data-competitor-id="@score.CompetitorId" data-originalScore="@score.Place">
        <div class="d-flex w-100 flex-wrap">
            <div>
                <span class="badge text-bg-secondary rounded-pill race-place"></span>
            </div>
            <div>
                <span class="sail-number">@score.Competitor.SailNumber</span>
                @if (!String.IsNullOrWhiteSpace(score.Competitor.AlternativeSailNumber))
                {
                    <span class="alt-sail-number"> (@score.Competitor.AlternativeSailNumber)</span>
                }
            </div>
            <div>
                <span class="competitor-name h5">@score.Competitor.Name</span>
            </div>
            <div class="float-end ms-auto d-flex flex-column flex-md-row align-items-stretch gap-1 gap-md-2">
                <div>
                    <select class="select-code form-select form-select-sm">
                        <option value="No Code">No Code</option>
                        @foreach (var code in Model.ScoreCodeOptions)
                        {
                            <option value="@code.Name" selected="@(score.Code == code.Name)">@code.Name: @code.Description.Left(40)</option>
                        }
                    </select>
                    <input class="code-points form-control form-control-sm"
                           style="display:none"
                           type="text" pattern="[0-9]+([\.,][0-9]+)?"
                           placeholder="place"
                           value="@score.CodePoints?.ToString("0.#")" />
                </div>
                <div class="d-flex flex-row gap-1">
                    <div>
                        <input name="FinishTime" class="form-control form-control-sm finish-time-input" type="time" step="1"
                                value="@(score.FinishTime.HasValue? score.FinishTime.Value.ToString(@"HH\:mm\:ss") : "")" />
                        <span class="text-danger finish-time-error"></span>
                    </div>
                    <div>
                        <input name="ElapsedTime"
                                class="form-control form-control-sm elapsed-time-input"
                                type="text"
                                placeholder="hh:mm:ss"
                            value="@(score.ElapsedTime.HasValue? score.ElapsedTime.Value.ToString(@"hh\:mm\:ss") : "")" />
                        <span class="text-danger elapsed-time-error"></span>
                    </div>
                </div>
                <div class="d-flex flex-row gap-1 ms-auto">
                    <button class="btn btn-light move-up" type="button"><span class="fas fa-angle-up"></span></button>
                    <button class="btn btn-light move-down" type="button"><span class="fas fa-angle-down"></span></button>
                    &ensp;
                    <button class="btn btn-light delete-button" type="button" data-bs-toggle="modal"
                            data-bs-target="#deleteConfirm" data-competitor-id="@score.CompetitorId">
                        <span class="far fa-trash-alt text-danger"></span>
                    </button>
                </div>
            </div>
        </div>
    </li>
}
                </ul>
                 
                <div>
                    @if (ViewData.ModelState["Scores"] != null && ViewData.ModelState["Scores"].Errors.Count > 0)
                    {
                        <ul class="text-danger">
                            @foreach (var error in ViewData.ModelState["Scores"].Errors)
                            {
                                <li>@error.ErrorMessage</li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mb-3">
                <div class="mb-3">
                    <label class="control-label h4">Add result:</label>
                    <div class="input-group">
                        <input id="newCompetitor" type="text" class="form-control" />
                        @if (Model.UseAdvancedFeatures)
                        {
                            <div class="input-group-btn z-0">
                                <button class="btn btn-outline-success" id="scenarioStartButton" type="button">
                                    <span class="fas fa-microphone"></span>
                                </button>
                                <button class="btn btn-outline-danger" id="scenarioStopButton" type="button"
                                        style="display: none;">
                                    <span class="fas fa-microphone-slash"></span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.UseAdvancedFeatures)
                {
                    <span id="speechwarning"
                          style="font-italic">
                        Error loading Speech Recognition.
                    </span>
                    <p id="phraseDiv"
                          class="lead">
                    </p>
                }
            </div>
            <div class="d-none d-lg-inline-block col-lg-2"></div>
            <div class="col-12 col-lg-3">
                <div class="mb-3">
                    <label class="d-none d-lg-inline h4">&nbsp;</label>
                    <input id="createCompButton" type="button" value="Create New Competitor" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#createCompetitor" />
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <span id="submitDisabledMessage" visble>The Save function is still loading...</span>
            <div class="col-md-3 d-grid">
                <input id="submitButton" type="submit" value="Save" class="btn btn-primary" disabled="disabled" />
            </div>
            <div class="col-md-3 d-grid">
                <a href="@(ViewData["ReturnUrl"] ?? Url.Action("Index", "Admin"))"
                   class="btn btn-outline-primary"
                    type="button">Cancel</a>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3 d-grid">
                <a asp-controller="Race"
                   asp-action="Delete"
                   asp-route-id="@Model.Id"
                   asp-route-returnUrl="@Context.Request.Path"
                   class="btn btn-danger btn-block"
                    >Delete</a>
            </div>
        </div>
    </form>
    <hr />
    <!--These empty divs are here to allow the page to scroll up enough so that create buttons are visible when scoreentry buttons take up 45%
        of screen.
    -->
    <div class="container mb-5 mb-sm-0">&nbsp;</div>

    <div class="container mb-5">&nbsp;</div>
</div>

<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmLabel">Delete result?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <p> Delete the result for <span id="competitorNameToDelete"></span>?</p>
                    </div>
                    <input id="compIdToDelete" type="hidden" />
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancel</a>
                <button id="deleteConfirmed" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="ssWaitingModal" class="waitingModal">
    <span><div class="spinner-border" role="status"></div><br/>
        <h3>Updating...</h3></span>
</div>

@await Html.PartialAsync("_competitorCreate", Model)

@section PreFooter {
    <footer class="footer mt-auto py-3 score-entry" id="scoreButtonFooter" style="display: none;">
        <div class="container footer-header">
            <div class="row float-end">
                <button id="closefooter" type="button" class="btn-close" aria-label="Close">
                    
                </button>
            </div>
        </div>
        <div class="container" id="scoreButtonDiv">
            <!-- competitor buttons go here-->
        </div>
    </footer>
}

@section Scripts {
    <script>
        $(function () {
            $('[data-bs-toggle="popover"]').popover()
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/devbridge-autocomplete/jquery.autocomplete.js"></script>
    <script>
        var scoreCodes = @Html.Raw(Json.Serialize(Model.ScoreCodeOptions));
        var speechInfoUrl =
            '@Url.Action("SpeechInfo", "Race")';
        // Set speech debug mode based on environment
        window.SPEECH_DEBUG = @(Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development" ? "true" : "false");
    </script>
    <script>
        function formatText (icon) {
            var jqElem = $(icon.element)
            if (!jqElem.data('icon')) { return icon.text; }
            return $('<span><i class="wi ' + jqElem.data('icon') + '"></i> </span>');

        };

        $('.select2-icon').select2({
            width: '100%',
            templateSelection: formatText,
            templateResult: formatText
        });

        $("select").on('select2:unselecting', event => {
            if (!event.params.args.originalEvent) return;
                event.params.args.originalEvent.stopPropagation();
        });
    </script>
    <script src="~/js/raceEditor.min.js" asp-append-version="true"></script>
    @* <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script> *@
    @if (Model.UseAdvancedFeatures)
    {
        <script src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@1.40.0/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle.min.js"></script>
    }

    <script>
        function isValidTimeFormat(time) {
            // Accepts hh:mm:ss or h:mm:ss, where hh is 0-23, mm and ss are 0-59
            return /^([0-1]?\d|2[0-3]):[0-5]\d:[0-5]\d$/.test(time);
        }

        function validateTimes() {
            let isValid = true;

            // Validate ElapsedTime fields
            $('.elapsed-time-input').each(function () {
                const $input = $(this);
                const value = $input.val().trim();
                const $error = $input.siblings('.elapsed-time-error');
                if (value && !isValidTimeFormat(value)) {
                    $error.text('Time must be hh:mm:ss');
                    isValid = false;
                } else {
                    $error.text('');
                }
            });

            // Validate FinishTime fields (if you want to enforce format, though type="time" usually handles this)
            $('.finish-time-input').each(function () {
                const $input = $(this);
                const value = $input.val().trim();
                const $error = $input.siblings('.finish-time-error');
                if (value && !isValidTimeFormat(value)) {
                    $error.text('Time must be hh:mm:ss');
                    isValid = false;
                } else {
                    $error.text('');
                }
            });

            return isValid;
        }

        $(function () {
            $('#raceform').on('submit', function (e) {
                if (!validateTimes()) {
                    e.preventDefault();
                }
            });

            $(document).on('blur', '.elapsed-time-input, .finish-time-input', function () {
                validateTimes();
            });
        });
    </script>
}
