@using SailScores.Web.Extensions

@model SailScores.Web.Models.SailScores.RaceWithOptionsViewModel

@{
    ViewBag.Title = "Edit Race";
    Layout = "_ClubLayout";
}

<div class="container p-0 justify-content-between">
    <h4>Update a race</h4>
    <hr />
    <form id="raceform" asp-action="Edit"
          asp-route-returnurl="@ViewData["ReturnUrl"]">
        <input type="hidden" id="clubInitials" asp-for="ClubInitials" />
        <input type="hidden" id="clubId" asp-for="ClubId" />
        <input type="hidden" id="Id" asp-for="Id" />
        <input type="hidden" id="defaultWeather" value="false" />
        <input type="hidden" asp-for="Weather.TemperatureUnits" />
        <input type="hidden" asp-for="Weather.WindSpeedUnits" />
        <input type="hidden" id="cloudCover" asp-for="Weather.CloudCoverPercent" />
        <input type="hidden" id="humidity" asp-for="Weather.Humidity" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-6 form-row">
                <label asp-for="Date" class="col-4 col-form-label"></label>
                <input id="date" asp-for="Date" class="form-control col-8" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 form-row">
                <label asp-for="Order" class="col-4 col-form-label">Order</label>
                <input asp-for="Order" class="form-control col-8" type="number" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FleetId" class="control-label">Fleet</label>
                <a class="text-primary"
                    data-container="body"
                    data-toggle="popover"
                    data-placement="top"
                    data-trigger="focus hover"
                    data-content="Controls the list of available competitors.">
                    <span class="far fa-question-circle"></span>
                </a>
                <select id="fleetId" asp-for="FleetId" class="form-control">
                    <option selected="selected">Select a fleet...</option>
                    @foreach (var fleet in Model.FleetOptions)
                    {
                        <option value="@fleet.Id" data-boat-class-id="@(fleet.BoatClasses?.Count == 1 ? fleet.BoatClasses[0].Id.ToString():"")">
                            @fleet.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="FleetId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SeriesIds" class="control-label">Series</label>
                <select id="seriesIds" asp-for="SeriesIds" class="form-control" multiple>
                    @foreach (var series in Model.SeriesOptions)
                    {
                        <option value="@series.Id">
                            @series.Name (@series.Season.Name)
                        </option>
                    }
                </select>
                <span asp-validation-for="SeriesIds" class="text-danger"></span>
            </div>
        </div>
        <div id="advancedFields" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="advancedHeading">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
                            Optional Fields
                        </a>
                    </h5>
                </div>

                <div id="collapseAdvanced" class="collapse" role="tabpanel" aria-labelledby="advancedHeading" data-parent="#advancedFields">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-6">
                                <div class="form-row">
                                    <label class="control-label col-form-label col-4"></label>
                                    <select id="raceState" asp-for="State" class="form-control col-8"
                                            asp-items="@(Html.GetEnumSelectList<SailScores.Api.Enumerations.RaceState>())"></select>
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <label asp-for="Weather.Description" class="control-label col-3 col-md-2 col-form-label">Weather</label>
                                <select id="weatherIcon" asp-for="Weather.Icon" data-show-content="true" class="form-control selectpicker col-3 col-md-2 pr-1">
                                    <option>Select...</option>
                                    @foreach (var icon in Model.WeatherIconOptions)
                                    {
                                        <option data-content="<span class='wi @icon.Value'></span>" value="@icon.Key">@icon.Key</option>
                                    }
                                </select>
                                <input id="weatherDescription" asp-for="Weather.Description" class="form-control col-6 col-md-8" />
                                <span asp-validation-for="Weather.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <div class="form-row">
                                    <label asp-for="Weather.WindSpeed" class="control-label col-6 col-md-4 col-form-label ">Wind</label>
                                    <input id="windSpeed" asp-for="Weather.WindSpeed" class="form-control col-3 text-center" type="number" />
                                    <div class="col-3 col-form-label">@Model.Weather?.WindSpeedUnits</div>
                                    <span asp-validation-for="Weather.WindSpeed" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <div class="form-row">
                                    <label asp-for="Weather.WindDirection" class="control-label col-4 col-form-label ">Dir</label>
                                    <input id="windDirection" asp-for="Weather.WindDirection" class="form-control col-3 text-center" />
                                    <span asp-validation-for="Weather.WindDirection" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <div class="form-row">
                                    <label asp-for="Weather.WindGust" class="control-label col-6 col-md-4 col-form-label ">Gust</label>
                                    <input id="windGust" asp-for="Weather.WindGust" class="form-control col-3 text-center" type="number" />
                                    <div class="col-3 col-form-label">@Model.Weather?.WindSpeedUnits</div>
                                    <span asp-validation-for="Weather.WindGust" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <div class="form-row">
                                    <label asp-for="Weather.Temperature" class="control-label col-4 col-form-label ">Temp</label>
                                    <input id="temperature" asp-for="Weather.Temperature" class="form-control col-3 text-center" type="number" />
                                    <div class="col-3 col-form-label">@Model.Weather?.TemperatureLabel</div>
                                    <span asp-validation-for="Weather.Temperature" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <label asp-for="Name" class="control-label col-3 col-md-2 col-form-label">Name</label>
                                <input asp-for="Name" class="form-control col-9 col-md-10" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <label asp-for="Description" class="control-label col-6 col-md-2 col-form-label">Comments</label>
                                <input asp-for="Description" class="form-control col-12 col-md-10" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <label asp-for="TrackingUrl" class="control-label col-3 col-md-2 col-form-label">Tracking Url</label>
                                <input asp-for="TrackingUrl" class="form-control col-9 col-md-10" />
                                <span asp-validation-for="TrackingUrl" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12 col-lg-8 pb-3">
                <ul class="list-group" id="results">
                    @await Html.PartialAsync("_scoreEntryPartial", Model)
                    @foreach (var score in (Model.Scores ??
             new List<SailScores.Web.Models.SailScores.ScoreViewModel>()))
                    {
                        <li id="@score.CompetitorId" class="list-group-item"
                            data-competitorid="@score.CompetitorId" data-originalScore="@score.Place">
                            <div class="d-flex w-100 flex-wrap">
                                <div>
                                    <span class="badge badge-secondary badge-pill race-place"></span>
                                </div>
                                <div>
                                    <span class="sail-number">@score.Competitor.SailNumber</span>
                                    @if (!String.IsNullOrWhiteSpace(score.Competitor.AlternativeSailNumber))
                                    {
                                        <span class="alt-sail-number"> (@score.Competitor.AlternativeSailNumber)</span>
                                    }
                                </div>
                                <div>
                                    <span class="competitor-name h5">@score.Competitor.Name</span>
                                </div>
                                <div class="float-right ml-auto d-flex">
                                    <div>
                                        <select class="select-code form-control form-control-sm">
                                            <option value="No Code">No Code</option>
                                            @foreach (var code in Model.ScoreCodeOptions)
                                            {
                                                <option value="@code.Name" selected="@(score.Code == code.Name)">@code.Name: @code.Description.Left(40)</option>
                                            }
                                        </select>
                                        <input class="code-points form-control form-control-sm"
                                               style="display:none"
                                               type="text" pattern="[0-9]+([\.,][0-9]+)?"
                                               placeholder="place"
                                               value="@score.CodePoints?.ToString("0.#")" />
                                    </div>
                                    <button class="btn btn-light move-up" type="button"><span class="fa fa-angle-up"></span></button>
                                    <button class="btn btn-light move-down" type="button"><span class="fa fa-angle-down"></span></button>
                                    &ensp;
                                    <button class="btn btn-light delete-button" type="button" data-toggle="modal"
                                            data-target="#deleteConfirm" data-competitorid="@score.CompetitorId">
                                        <span class="far fa-trash-alt text-danger"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mb-3">
                <div class="form-group">
                    <label class="control-label h4">Add result:</label>
                    <div class="input-group">
                        <input id="newCompetitor" type="text" class="form-control" />
                        @if (Model.UseAdvancedFeatures)
                        {
                            <div class="input-group-btn">
                                <button class="btn btn-outline-success" id="scenarioStartButton" type="button">
                                    <span class="fas fa-microphone"></span>
                                </button>
                                <button class="btn btn-outline-danger" id="scenarioStopButton" type="button"
                                        style="display: none;">
                                    <span class="fas fa-microphone-slash"></span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.UseAdvancedFeatures)
                {
                    <span id="speechwarning"
                          style="font-italic">
                        Error loading Speech Recognition.
                    </span>
                    <p id="phraseDiv"
                          class="lead">
                    </p>
                }
            </div>
            <div class="d-none d-lg-inline-block col-lg-2"></div>
            <div class="col-12 col-lg-3">
                <div class="form-group">
                    <label class="d-none d-lg-inline h4">&nbsp;</label>
                    <input id="createCompButton" type="button" value="Create New Competitor" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#createCompetitor" />
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <span id="submitDisabledMessage" visble>The Save function is still loading...</span>
            <div class="col-md-3">
                <input id="submitButton" type="submit" value="Save" class="btn btn-primary btn-block" disabled="disabled" />
            </div>
            <div class="col-md-3">
                <a href="@(ViewData["ReturnUrl"] ?? Url.Action("Index", "Admin"))"
                   class="btn btn-outline-primary btn-block">Cancel</a>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <a asp-controller="Race"
                   asp-action="Delete"
                   asp-route-id="@Model.Id"
                   class="btn btn-danger btn-block">Delete</a>
            </div>
        </div>
    </form>
    <hr />
</div>



<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmLabel">Delete result?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <p> Delete the result for <span id="competitorNameToDelete"></span>?</p>
                    </div>
                    <input id="compIdToDelete" type="hidden" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="deleteConfirmed" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_competitorCreate", Model)

@section PreFooter {
    <footer class="footer score-entry" id="scoreButtonFooter" style="display: none;">
        <div class="container footer-header">
            <div class="row float-right">
                <button id="closefooter" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="container" id="scoreButtonDiv">
            <!-- competitor buttons go here-->
        </div>
    </footer>
}

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/vendor/devbridge-autocomplete/jquery.autocomplete.js"></script>
    <script>
        var scoreCodes = @Html.Raw(Json.Serialize(Model.ScoreCodeOptions));
        var speechInfoUrl =
            '@Url.Action("SpeechInfo", "Race")';
    </script>
    <script src="~/js/raceEditor.min.js" asp-append-version="true"></script>
    @if (Model.UseAdvancedFeatures)
    {
        <script src="~/js/microsoft.cognitiveservices.speech.sdk.bundle-min.js"></script>
    }

}
