@using Microsoft.AspNetCore.Routing
@using Sailscores.Web.Models.Sailscores;
@using Sailscores.Core.Model;
@model ClubCollectionViewModel<Race>

@{
    ViewBag.Title = Model.ClubInitials + " Races";
    Layout = "_ClubLayout";
}

<h2>@Context.GetRouteData().Values["ClubInitials"].ToString().ToUpperInvariant() Races</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.List.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List.First().Date)
            </th>
            <th>
                # of Boats
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id=item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scores.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

            </tr>
        }
    </tbody>
</table>
