@model IEnumerable<SailScores.Core.Model.Race>
@using Microsoft.AspNetCore.Routing
@{
    ViewData["Title"] = Context.GetRouteData().Values["ClubInitials"]+ " Races";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h2>@Context.GetRouteData().Values["ClubInitials"].ToString().ToUpperInvariant() Races</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
            </th>
            <th>
                # of Boats
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { /* id=item.PrimaryKey */ })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scores.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

            </tr>
        }
    </tbody>
</table>
