@using Microsoft.Extensions.Localization;
@using SailScores.Web.Resources;
@using SailScores.Web.Extensions;
@inject IStringLocalizer<SharedResource> localizer

@model SailScores.Web.Models.SailScores.ClubSummaryViewModel
@{
    ViewBag.Title = Model.Name + " " + localizer["Scores"];
    Layout = "_ClubLayout";
}
<div class="row">
    <div class="col-12">
        <h1 class="display-4">@Model.Name</h1>
    </div>
</div>
@if (!String.IsNullOrWhiteSpace(Model.Url))
{
    <div class="row">
        <div class="col-12">
            <p><a href="@Model.Url" target="_blank">
                <span class="fas fa-external-link-alt"></span> @localizer["Club Web Site"]
            </a></p>
        </div>
    </div>
}
@if (!String.IsNullOrWhiteSpace(Model.Description))
{
    <div class="row">
        <div class="col-md-6 d-none d-md-block">
            @Html.Raw(Markdig.Markdown.ToHtml(Model.Description))
        </div>
    </div>
}
@if (Model.CurrentRegattas.Any())
{
<div class="row">
    <div class="col-md-12">
        <h2>Regatta!</h2>
        @foreach (var regatta in Model.CurrentRegattas)
        {
            @if (regatta.UpdatedDate.HasValue && regatta.UpdatedDate > DateTime.Now.AddDays(-15))
            {
                @regatta.StartDate?.ToString("D") @:- @regatta.EndDate?.ToString("D")
            }
            <h2>
                <a href="~/@ViewData["ClubInitials"]/Regatta/@regatta.Season.Name/@regatta.Name">
                    @regatta.Season.Name  @regatta.Name
                </a>

            </h2>
            <br />
        }
    </div>
</div>
}
<div class="row">
    @if (Model.ImportantSeries.Any())
    {
        <div class="col-md-6">
            <h2>Top Series</h2>
            <ul class="list-unstyled">
                @foreach (var series in Model.ImportantSeries)
                {
                    <li>
                        <a href="~/@ViewData["ClubInitials"]/@series.Season.Name/@series.Name">
                            @series.Season.Name  @series.Name
                        </a>
                        @if(series.UpdatedDate.HasValue && series.UpdatedDate > DateTime.Now.AddDays(-15))
                        {
                            <i><small>Updated @series.UpdatedDate.ToApproxTimeAgoString()</small></i>
                        }
                    </li>
                }
            </ul>
        </div>
    }
    @if (Model.RecentSeries.Any())
    {
        <div class="col-sm-6 col-md-3">
            <h4>Recent Series</h4>
            <ul class="list-unstyled">
                @foreach (var series in Model.RecentSeries)
                {
                    <li>
                        <a href="~/@ViewData["ClubInitials"]/@series.Season.Name/@series.Name">
                            @series.Name
                        </a>
                        @if (series.UpdatedDate.HasValue)
                        {
                            <i><small>Updated @series.UpdatedDate.ToApproxTimeAgoString()</small></i>
                        }
                    </li>
                }
            </ul>
        </div>
    }
    else if (Model.RecentRaces.Count() > 0)
    {
        <div class="col-sm-6 col-md-3">
            <h4>Recent races</h4>
            <ul class="list-unstyled">
                @foreach (var item in Model.RecentRaces.GroupBy(s => s.FleetName ?? String.Empty, r => r))
                {
                    <li>
                        @item.Key
                        <ul>
                            @foreach (var race in item)
                            {
                                <li>
                                    <a asp-controller="Race"
                                       asp-action="Details"
                                       asp-route-clubInitials="@Model.Initials"
                                       asp-route-id="@race.Id">@race.CalculatedName</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <div class="col-sm-6 col-md-3">
            <p><i>No recent series found.</i></p>
            <p>
                <a asp-controller="Series"
                   asp-route-clubInitials="@Model.Initials">
                    All Series
                </a>
            </p>
        </div>
    }
    <div class="col-sm-6 col-md-3">
        @if (Model.UpcomingRaces.Count() > 0)
        {
            <h4>Upcoming Races</h4>
            <ul class="list-unstyled">
                @foreach (var item in Model.UpcomingRaces.GroupBy(s => s.FleetName ?? String.Empty, r => r))
                {
                    <li>
                        <b>@item.Key</b>
                        <ul class="list-unstyled">
                            @foreach (var race in item)
                            {
                                <li>
                                    <a asp-controller="Race"
                                       asp-action="Details"
                                       asp-route-clubInitials="@Model.Initials"
                                       asp-route-id="@race.Id">@race.CalculatedName</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
    </div>
</div>
@if (Model.CanEdit)
{
    <br />
    <hr />
    <div class="row bg-light">
        <div class="col-sm-3 my-2">
            <a asp-controller="Admin"
               class="btn btn-outline-primary">Admin Page</a>
        </div>
        <div class="col-sm-3 my-2">
            <a asp-controller="Competitor"
               asp-action="Create"
               class="btn btn-outline-primary">New Competitor</a>
        </div>
        <div class="col-sm-3 my-2">
            <a asp-controller="Race"
               asp-action="Create"
               class="btn btn-outline-primary">New Race</a>
        </div>
    </div>
}
