@using Microsoft.Extensions.Localization;
@using SailScores.Web.Resources;
@using SailScores.Web.Extensions;
@using SailScores.Web.Services;

@inject IStringLocalizer<SharedResource> localizer
@inject AppSettingsService settingsService

@model SailScores.Web.Models.SailScores.ClubSummaryViewModel
@{
    ViewBag.Title = Model.Name + " " + localizer["Scores"];
    Layout = "_ClubLayout";
    ViewData["MetaDescription"] = $"Scores for {Model.Name} ({Model.Initials})";
    ViewData["ogTitle"] = Model.Name + " " + localizer["Scores"];
    ViewData["ogDescription"] = Model.LongDescription;
}
<div class="row">
    <div class="col-12">
        <h1 class="display-4">@Model.Name</h1>
    </div>
</div>
@if (!String.IsNullOrWhiteSpace(Model.Url))
{
    <div class="row">
        <div class="col-12">
            <p>
                <a href="@Model.Url" target="_blank" rel="noopener noreferrer">
                    <span class="fas fa-external-link-alt"></span> @localizer["Club Web Site"]
                </a>
            </p>
        </div>
    </div>
}
@if (!String.IsNullOrWhiteSpace(Model.Description))
{
    <div class="row">
        <div class="col-md-9 d-none d-md-block">
            @Html.Raw(Markdig.Markdown.ToHtml(Model.Description))
        </div>
    </div>
}
@if (Model.CanEdit && (Model.Series?.Count() ?? 0) == 0)
{
    <div class="row bg-almost">
        <div class="col-12">
            <p>
                Follow the steps on the
                <a asp-controller="Admin" asp-action="Index">Club Admin page</a> to set up this club.
            </p>
        </div>
    </div>
}
@if (Model.CurrentRegattas.Any())
{
    <div class="row">
        <div class="col-md-12">
            <h2>Regatta!</h2>
            @foreach (var regatta in Model.CurrentRegattas)
            {
                @if (regatta.UpdatedDate.HasValue && regatta.UpdatedDate > DateTime.Now.AddDays(-15))
                {
                    @regatta.StartDate?.ToString("D") @:- @regatta.EndDate?.ToString("D")
                }
                <h3>
                    <a href="~/@ViewData["ClubInitials"]/Regatta/@regatta.Season.UrlName/@regatta.UrlName" style="text-wrap: pretty;">
                        @regatta.Season.Name @regatta.Name
                    </a>
                </h3>
                <br />
            }
        </div>
    </div>
}
<div class="row">
    @if (Model.ImportantSeries.Any())
    {
        <div class="col-md-6">
            <h2>@localizer["Top Series"]</h2>
            <ul class="list-unstyled">
                @foreach (var series in Model.ImportantSeries)
                {
                    <li style="text-wrap: pretty;">
                        <a href="~/@ViewData["ClubInitials"]/@series.Season.UrlName/@series.UrlName">
                            @series.Season.Name @series.Name
                        </a>
                        @if (series.UpdatedDate.HasValue && series.UpdatedDate > DateTime.Now.AddDays(-15))
                        {
                            <span class="fst-italic small">@localizer["Updated"] @series.UpdatedDate.ToApproxTimeAgoString()</span>
                        }
                    </li>
                }
            </ul>
        </div>
    }
    @if (Model.UpcomingRaces.Count() > 0)
    {
        @if (Model.RecentSeries.Any())
        {
            <div class="col-sm-6 col-md-3">
                <h4>@localizer["Recent Series"]</h4>
                <ul class="list-unstyled">
                    @foreach (var series in Model.RecentSeries)
                    {
                        <li style="text-wrap: pretty;">
                            <a href="~/@ViewData["ClubInitials"]/@series.Season.UrlName/@series.UrlName">@series.Name</a>
                            @if (series.UpdatedDate.HasValue)
                            {
                                <span class="fst-italic small">@localizer["Updated"] @series.UpdatedDate.ToApproxTimeAgoString()</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        }
        else if (Model.RecentRaces.Count() > 0)
        {
            <div class="col-sm-6 col-md-3">
                <h4>@localizer["Recent Races"]</h4>
                <ul class="list-unstyled">
                    @foreach (var item in Model.RecentRaces.GroupBy(s => s.FleetName ?? String.Empty, r => r))
                    {
                        <li style="text-wrap: pretty;">
                            <strong>@item.Key</strong>
                            <ul class="list-unstyled">
                                @foreach (var race in item)
                                {
                                    <li style="text-wrap: pretty;">
                                        <a asp-controller="Race"
                                           asp-action="Details"
                                           asp-route-clubInitials="@Model.Initials"
                                           asp-route-id="@race.Id">@race.CalculatedName</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
            <div class="col-sm-6 col-md-3">
                <p><em>@localizer["No recent series found."]</em></p>
                <p>
                    <a asp-controller="Series"
                       asp-route-clubInitials="@Model.Initials">
                        @localizer["All Series"]
                    </a>
                </p>
            </div>
        }
        <div class="col-sm-6 col-md-3">
            <h4>@localizer["Upcoming Races"]</h4>
            <ul class="list-unstyled">
                @foreach (var item in Model.UpcomingRaces.GroupBy(s => s.FleetName ?? String.Empty, r => r))
                {
                    <li style="text-wrap: pretty;">
                        <strong>@item.Key</strong>
                        <ul class="list-unstyled">
                            @foreach (var race in item)
                            {
                                <li style="text-wrap: pretty;">
                                    <a asp-controller="Race"
                                       asp-action="Details"
                                       asp-route-clubInitials="@Model.Initials"
                                       asp-route-id="@race.Id">@race.CalculatedName</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    }
    else // no upcoming races
    {
        @if (Model.RecentSeries.Any())
        {
            <div class="col-sm-6">
                <h4>@localizer["Recent Series"]</h4>
                <ul class="list-unstyled">
                    @foreach (var series in Model.RecentSeries)
                    {
                        <li style="text-wrap: pretty;">
                            <a href="~/@ViewData["ClubInitials"]/@series.Season.UrlName/@series.UrlName">@series.Name</a>
                            @if (series.UpdatedDate.HasValue)
                            {
                                <span class="fst-italic small">@localizer["Updated"] @series.UpdatedDate.ToApproxTimeAgoString()</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        }
        else if (Model.RecentRaces.Any())
        {
            <div class="col-sm-6">
                <h4>@localizer["Recent Races"]</h4>
                <ul class="list-unstyled">
                    @foreach (var item in Model.RecentRaces.GroupBy(s => s.FleetName ?? String.Empty, r => r))
                    {
                        <li style="text-wrap: pretty;">
                            @item.Key
                            <ul>
                                @foreach (var race in item)
                                {
                                    <li style="text-wrap: pretty;">
                                        <a asp-controller="Race"
                           asp-action="Details"
                           asp-route-clubInitials="@Model.Initials"
                           asp-route-id="@race.Id">@race.CalculatedName</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
            <div class="col-sm-6">
                <p><em>@localizer["No recent series found."]</em></p>
                <p>
                    <a asp-controller="Series"
               asp-route-clubInitials="@Model.Initials">
                        @localizer["All Series"]
                    </a>
                </p>
            </div>
        }
    }
</div>
@if (Model.CanEdit)
{
    <br />
    <hr />
    <div class="row bg-almost">
        <div class="col-sm-3 my-2 text-center">
            <a asp-controller="Admin"
               class="btn btn-outline-primary">@localizer["Admin Page"]</a>
        </div>
        <div class="col-sm-3 my-2 text-center">
            <a asp-controller="Competitor"
               asp-action="Index"
               asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
               class="btn btn-outline-primary">@localizer["Manage Competitors"]</a>
        </div>
        <div class="col-sm-3 my-2 text-center">
            <a asp-controller="Race"
               asp-action="Create"
               asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
               class="btn btn-outline-primary">@localizer["New Race"]</a>
        </div>
        <div class="col-sm-3 my-2 text-center">
            <a asp-controller="Reports"
               asp-action="Index"
               class="btn btn-outline-primary">@localizer["Reports"]</a>
        </div>
        <div class="col-sm-3 my-2 d-none d-md-block text-center">
            <a asp-controller="Club"
               asp-action="Stats"
               class="btn btn-outline-primary">@localizer["Club Stats"]</a>
        </div>
    </div>
}
