@using Microsoft.Extensions.Localization;
@using SailScores.Web.Resources;
@using SailScores.Web.Services;

@using SailScores.Web.Models.SailScores

@inject IStringLocalizer<SharedResource> localizer
@inject AppSettingsService settingsService

@model ClubItemViewModel<RegattaViewModel>
@{
    ViewBag.Title = $"{Model.Item.Name} Results";
    Layout = "_ClubLayout";
    ViewData["MetaDescription"] = $"{Model.ClubInitials} {Model.Item.Season.Name} {Model.Item.Name} Regatta Results";
}

<div class="row">
    <div class="col-12">
        <h1 class="display-4">
            @Model.Item.Name
            @if (!String.IsNullOrWhiteSpace(Model.Item.Url))
            {
                <span class="h5">
                    <a href="@Model.Item.Url" target="_blank">
                        <span class="fas fa-external-link-alt"></span> @localizer["Regatta Web Site"]
                    </a>
                </span>
            }
        </h1>
        <h5 class="text-muted d-none d-md-inline">
            @Model.Item.StartDate?.ToString("D") -
            @Model.Item.EndDate?.ToString("D")
            <br />
            <br />
        </h5>
        <span class="text-muted d-md-none">
            @Model.Item.StartDate?.ToString("d") -
            @Model.Item.EndDate?.ToString("d")
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @if (!String.IsNullOrWhiteSpace(Model.Item.Description))
        {
            @Html.Raw(Markdig.Markdown.ToHtml(Model.Item.Description))
        }
        else
        {
            @:&nbsp;
        }
    </div>

    <div class="col-md-6">
        @if (Model.CanEdit)
        {
            <br class="d-md-none" />
            <hr class="d-md-none" />
            <div class="row bg-light">
                <div class="col-sm-4 my-2">
                    <a asp-controller="Fleet"
                       asp-action="Create"
                       asp-route-regattaId="@Model.Item.Id"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       class="btn btn-outline-primary">@localizer["New Fleet"]</a>
                </div>
                <div class="col-sm-4 my-2">
                    <a asp-controller="Competitor"
                       asp-action="Create"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       class="btn btn-outline-primary">@localizer["New Competitor"]</a>
                </div>
                <div class="col-sm-4 my-2">
                    <a asp-controller="Race"
                       asp-action="Create"
                       asp-route-regattaId="@Model.Item.Id"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       class="btn btn-outline-primary">@localizer["New Race"]</a>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col-sm-4 my-2">
                    <a asp-controller="Regatta"
                       asp-action="Edit"
                       asp-route-Id="@Model.Item.Id"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       class="btn btn-outline-primary">@localizer["Edit Regatta"]</a>
                </div>
                <div class="col-sm-4">&nbsp;</div>
                <div class="col-sm-4 my-2">
                    <a asp-controller="Admin"
                       asp-action="Index"
                       class="btn btn-outline-primary">@localizer["Club Admin"]</a>
                </div>
            </div>
        }
    </div>
</div>
@foreach (var fleet in Model.Item.Fleets.OrderBy(f => f.NickName))
{
    var fleetHasResults = Model.Item.Series.FirstOrDefault(s => s.FleetId == fleet.Id)?.FlatResults?.NumberOfSailedRaces > 0;
    <div id="@fleet.ShortName">
        <h3>@fleet.NickName</h3>
        <ul class="nav nav-tabs" id="@($"Tab{fleet.ShortName}")" role="tablist">
            <li class="nav-item">
                <a class="nav-link @(fleetHasResults ? "" : "active")" id="@($"Competitors{fleet.ShortName}-tab")" data-toggle="tab"
                   href="@($"#Competitors{fleet.ShortName}")" role="tab"
                   aria-controls="@($"Competitors{fleet.ShortName}")" aria-selected="true">
                    @localizer["CapCompetitors"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(fleetHasResults ? "active" : "")" id="@($"Results{fleet.ShortName}-tab")" data-toggle="tab"
                   href="@($"#Results{fleet.ShortName}")" role="tab"
                   aria-controls="@($"Results{fleet.ShortName}")" aria-selected="false">
                    @localizer["Results"]
                </a>
            </li>
            <li class="nav-item d-none d-sm-inline-flex">
                <a class="nav-link" id="@($"Chart{fleet.ShortName}-tab")" data-toggle="tab"
                   href="@($"#Chart{fleet.ShortName}")" role="tab"
                   aria-controls="@($"Chart{fleet.ShortName}")" aria-selected="false">
                    @localizer["Chart"]
                </a>
            </li>
        </ul>
        <div class="tab-content" id="@($"Tab{fleet.ShortName}Content")">
            <div class="tab-pane fade @(fleetHasResults ? "" : "show active")" id="@($"Competitors{fleet.ShortName}")" role="tabpanel"
                 aria-labelledby="@($"Competitors{fleet.ShortName}-tab")">
                @if (Model.CanEdit)
                {
                <div class="py-2">
                    <a asp-controller="Fleet"
                       asp-action="Edit"
                       asp-route-id="@fleet.Id"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       title="Add existing competitors"
                       class="btn btn-outline-primary">Edit Fleet</a>
                </div>
                }
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">@localizer["Sail Number"]</th>
                            <th scope="col">@localizer["Name"]</th>
                            <th scope="col">@localizer["Boat"]</th>
                            <th scope="col">@localizer["Club"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comp in fleet.Competitors.OrderBy(
                    c => Model.Item.PreferAlternateSailNumbers ? (c.AlternativeSailNumber ?? c.SailNumber) : c.SailNumber)
                    .ThenBy(c => c.Name))
                        {
                            <tr>
                                <td>@(Model.Item.PreferAlternateSailNumbers ? (comp.AlternativeSailNumber ?? comp.SailNumber) : comp.SailNumber)</td>
                                <td>@comp.Name</td>
                                <td>@comp.BoatName</td>
                                <td>@(comp.HomeClubName ?? Model.ClubInitials)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade @(fleetHasResults ? "show active" : "")" id="@($"Results{fleet.ShortName}")" role="tabpanel"
                 aria-labelledby="@($"Results{fleet.ShortName}-tab")">
                @if (Model.Item.Series.Any(s => s.FleetId == fleet.Id))
                {
                    @await Html.PartialAsync("_ResultsTable", Model.Item.Series.First(s => s.FleetId == fleet.Id),
                        new ViewDataDictionary(this.ViewData) { { "ExcludeCompetitorLinks", true } })
                }
                else
                {
                    <span>@localizer["No Results posted"]</span>
                }
            </div>
            <div class="tab-pane fade" id="@($"Chart{fleet.ShortName}")" role="tabpanel"
                 aria-labelledby="@($"Chart{fleet.ShortName}-tab")">
                @if (Model.Item.Series.Any(s => s.FleetId == fleet.Id))
                {
                    <div class="container d-none d-sm-flex">
                        <svg id="@($"chart{fleet.ShortName}")" class="results-chart" data-series-id="@Model.Item.Series.First(s => s.FleetId == fleet.Id).Id"></svg>
                    </div>
                }
                else
                {
                    <span>@localizer["No Results posted"]</span>
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" integrity="sha256-+9Mf3cAVmxxudDsr1XwXUeRZFtvdWVYdq5/vcgiYyNU=" crossorigin="anonymous"></script>
    <script src="~/js/seriesChart.js"></script>
}