@using Microsoft.Extensions.Localization;
@using SailScores.Core.Model
@using SailScores.Web.Resources;
@using SailScores.Web.Services;

@using SailScores.Web.Models.SailScores

@inject IStringLocalizer<SharedResource> localizer
@inject AppSettingsService settingsService

@model ClubItemViewModel<RegattaViewModel>
@{
    ViewBag.Title = $"{Model.Item.Name} Results";
    Layout = "_ClubLayout";

    ViewData["MetaDescription"] = $"{Model.ClubInitials.ToUpper()} {Model.Item.Season.Name} {Model.Item.Name} Regatta Results";
    ViewData["ogTitle"] = ViewData["MetaDescription"];
    ViewData["ogDescription"] = Model.Item.LongDescription;
}

<div class="row">
    <div class="col-12">
        <h1 class="display-4">
            @Model.Item.Name
            @if (!String.IsNullOrWhiteSpace(Model.Item.Url))
            {
                <br class="d-md-none">
                <span class="h5">
                    <a href="@Model.Item.Url" target="_blank">
                        <span class="fas fa-external-link-alt"></span> @localizer["Regatta Web Site"]
                    </a>
                </span>
            }
        </h1>
        <h5 class="d-none d-md-inline">
            @Model.Item.StartDate?.ToString("D")
            @if (Model.Item.StartDate != Model.Item.EndDate) {
                @:- @Model.Item.EndDate?.ToString("D")
            }
            <br />
            <br />
        </h5>
        <span class="d-md-none">
            @Model.Item.StartDate?.ToString("d")            
            @if (Model.Item.StartDate != Model.Item.EndDate) {
                @:- @Model.Item.EndDate?.ToString("d")
            }
        </span>
    </div>
    <div class="col-12">
        @if (!String.IsNullOrWhiteSpace(Model.Item.Description))
        {
            @Html.Raw(Markdig.Markdown.ToHtml(Model.Item.Description))
        }
        else
        {
            @:&nbsp;
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6 order-md-12">
        @if (Model.CanEdit)
        {
            <br class="d-md-none" />
            <hr class="d-md-none" />
            <div class="row bg-almost">
                <div class="col-sm-4 my-2">
                    <a asp-controller="Document"
                       asp-action="Create"
                       asp-route-regattaId="@Model.Item.Id"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       class="btn btn-outline-primary">@localizer["Upload Document"]</a>
                </div>
                <div class="col-sm-4 my-2">
                    <a asp-controller="Fleet"
                       asp-action="Create"
                       asp-route-regattaId="@Model.Item.Id"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       class="btn btn-outline-primary">@localizer["New Fleet"]</a>
                </div>
                <div class="col-sm-4 my-2">
                    <a asp-controller="Race"
                       asp-action="Create"
                       asp-route-regattaId="@Model.Item.Id"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       class="btn btn-outline-primary">@localizer["New Race"]</a>
                </div>
            </div>
            <div class="row bg-almost">
                <div class="col-sm-4 my-2">
                    <a asp-controller="Regatta"
                       asp-action="Edit"
                       asp-route-Id="@Model.Item.Id"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       class="btn btn-outline-primary">@localizer["Edit Regatta"]</a>
                </div>
                <div class="col-sm-4 my-2">
                    <a asp-controller="Announcement"
                       asp-action="Create"
                       asp-route-regattaId="@Model.Item.Id"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       class="btn btn-outline-primary">@localizer["New Notice"]</a>
                </div>
                <div class="col-sm-4 my-2">
                    <a asp-controller="Admin"
                       asp-action="Index"
                       class="btn btn-outline-primary">@localizer["Club Admin"]</a>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        <div class="row m-0 p-0">
            @if (Model.Item.Announcements != null && Model.Item.Announcements.Count > 0)
            {
                <div class="col-12 m-0 p-0">
                    <h3>Notices</h3>
                    @foreach (var announcement in Model.Item.Announcements)
                    {
                        @if (Model.CanEdit)
                        {
                            <a class="btn btn-sm btn-outline-danger"
                               asp-action="Delete"
                               asp-controller="Announcement"
                               asp-route-id="@announcement.Id"
                               asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                               title="Delete">
                                <span class="fas fa-trash"></span>
                            </a>

                            @:&nbsp;
                            <a class="btn btn-sm btn-outline-primary"
                               asp-action="Edit"
                               asp-controller="Announcement"
                               asp-route-id="@announcement.Id"
                               asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                               title="Edit">
                                <span class="fas fa-pen"></span>
                            </a>

                            @:&nbsp;
                        }
                        <span class="small font-italic">Posted by @announcement.CreatedBy on @announcement.CreatedLocalDate.ToString("f"):</span>
                        @Html.Raw(Markdig.Markdown.ToHtml(announcement.Content))
                        <br />
                    }
                </div>
            }
            @if(Model.Item.Documents != null && Model.Item.Documents.Count > 0)
            {
                <div class="col-12 m-0 p-0 pb-5">
                    <h3>Documents</h3>
                    @foreach (var document in Model.Item.Documents)
                    {
                        <h4>@if (Model.CanEdit)
                        {
                            <a class="btn btn-sm btn-outline-danger"
                               asp-action="Delete"
                               asp-controller="Document"
                               asp-route-id="@document.Id"
                               asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                               title="Delete">
                                <span class="fas fa-trash"></span>
                            </a>@:&nbsp;
                            <a class="btn btn-sm btn-outline-primary"
                               asp-action="Update"
                               asp-controller="Document"
                               asp-route-id="@document.Id"
                               asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                               title="Update">
                                <span class="fas fa-file-import"></span>
                            </a>
                        }<a target="_blank" asp-action="GetDocument"
                           asp-controller="Document"
                           asp-route-id="@document.Id"
                           asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                        >@document.Name</a></h4>
                        <span class="small font-italic">Posted by @document.CreatedBy on @document.CreatedLocalDate.ToString("f")</span>
                    }
                </div>                
            }
        </div>
    </div>
</div>
@foreach (var fleet in Model.Item.Fleets.OrderBy(f => f.NickName ?? f.Name ?? f.ShortName))
{
    var counter = 1;
    var fleetHasResults = Model.Item.Series.FirstOrDefault(s => s.FleetId == fleet.Id)?.FlatResults?.NumberOfSailedRaces > 0;
    <div id="@fleet.ShortName">
        <h3>@(fleet.NickName??fleet.Name??fleet.ShortName)</h3>
        <ul class="nav nav-tabs" id="@($"Tab{fleet.ShortName}")" role="tablist">
            <li class="nav-item">
                <a class="nav-link @(fleetHasResults ? "" : "active")" id="@($"Competitors{fleet.ShortName}-tab")" data-toggle="tab"
               href="@($"#Competitors{fleet.ShortName}")" role="tab"
               aria-controls="@($"Competitors{fleet.ShortName}")" aria-selected="true">
                    @localizer["CapCompetitors"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(fleetHasResults ? "active" : "")" id="@($"Results{fleet.ShortName}-tab")" data-toggle="tab"
               href="@($"#Results{fleet.ShortName}")" role="tab"
               aria-controls="@($"Results{fleet.ShortName}")" aria-selected="false">
                    @localizer["Results"]
                </a>
            </li>
            <li class="nav-item d-none d-sm-inline-flex">
                <a class="nav-link" id="@($"Chart{fleet.ShortName}-tab")" data-toggle="tab"
               href="@($"#Chart{fleet.ShortName}")" role="tab"
               aria-controls="@($"Chart{fleet.ShortName}")" aria-selected="false">
                    @localizer["Chart"]
                </a>
            </li>
        </ul>
        <div class="tab-content" id="@($"Tab{fleet.ShortName}Content")">
            <div class="tab-pane fade @(fleetHasResults ? "" : "show active")" id="@($"Competitors{fleet.ShortName}")" role="tabpanel"
             aria-labelledby="@($"Competitors{fleet.ShortName}-tab")">
                @if (Model.CanEdit)
                {
                    <div class="py-2">
                        <a asp-controller="Fleet"
                   asp-action="Edit"
                   asp-route-id="@fleet.Id"
                   asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                   title="Add existing competitors"
                   class="btn btn-outline-primary">Edit Fleet</a>
                    </div>
                }
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col">@localizer["Sail Number"]</th>
                            <th scope="col">@localizer["Name"]</th>
                            <th scope="col">@localizer["Boat"]</th>
                            <th scope="col">@localizer["Club"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comp in fleet.Competitors.OrderBy(
                       c => Model.Item.PreferAlternateSailNumbers ? (c.AlternativeSailNumber ?? c.SailNumber) : c.SailNumber)
                       .ThenBy(c => c.Name))
                        {
                            <tr>
                                <td><small>@(counter++)</small></td>
                                <td>@(Model.Item.PreferAlternateSailNumbers ? (comp.AlternativeSailNumber ?? comp.SailNumber) : comp.SailNumber)</td>
                                <td>@comp.Name</td>
                                <td>@comp.BoatName</td>
                                <td>@(comp.HomeClubName ?? Model.ClubInitials)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade @(fleetHasResults ? "show active" : "")" id="@($"Results{fleet.ShortName}")" role="tabpanel"
             aria-labelledby="@($"Results{fleet.ShortName}-tab")">
                @{
                    var currentSeries = Model.Item.Series.FirstOrDefault(s => s.FleetId == fleet.Id);
                }
                @if (currentSeries != null && currentSeries.FlatResults != null && currentSeries.FlatResults.Races.Count() > 0)
                {
                    @await Html.PartialAsync("_ResultsTable",
                        currentSeries,
                        new ViewDataDictionary(this.ViewData)
                        {
                            { "ExcludeCompetitorLinks", true }
                        })
                    
                }
                else
                {
                    <span>@localizer["No Results posted"]</span>
                }
            </div>
            <div class="tab-pane fade" id="@($"Chart{fleet.ShortName}")" role="tabpanel"
                 aria-labelledby="@($"Chart{fleet.ShortName}-tab")">
                @if (Model.Item.Series.Any(s => s.FleetId == fleet.Id))
                {
                    <div class="container d-none d-sm-flex">
                        <svg id="@($"chart{fleet.ShortName}")" class="results-chart" data-series-id="@Model.Item.Series.First(s => s.FleetId == fleet.Id).Id"></svg>
                    </div>
                }
                else
                {
                    <span>@localizer["No Results posted"]</span>
                }
            </div>
            
            <br/>
        </div>
    </div>
}

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" integrity="sha256-+9Mf3cAVmxxudDsr1XwXUeRZFtvdWVYdq5/vcgiYyNU=" crossorigin="anonymous"></script>
<script src="~/js/seriesChart.js"></script>
}