@using SailScores.Web.Models.SailScores;
@using SailScores.Web.Extensions;
@using Microsoft.Extensions.Localization
@using SailScores.Web.Resources

@inject IStringLocalizer<SharedResource> localizer

@model ClubCollectionViewModel<RegattaSummaryViewModel>
@{
    ViewBag.Title = Model.ClubInitials + " " + localizer["Regattas"];
    Layout = "_ClubLayout";
}

@section Sidebar {
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky sticky-top">
            <ul class="nav flex-column">
                @foreach (var item in Model.List.GroupBy(s => s.Season?.Name ?? String.Empty, s => s))
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="#@item.Key">
                            @item.Key
                        </a>
                    </li>
                }

            </ul>
        </div>
    </nav>
}

@if (Model.List.Any())
{
    @foreach (var item in Model.List.GroupBy(s => s.Season?.Name ?? String.Empty, s => s))
    {
        <div id="@item.Key" class="row">
            <div class="col-12">
                <h2>@item.Key</h2>
            </div>
        </div>
        foreach (var regatta in item)
        {
<div class="row">
    <div class="col-sm-4 col-lg-3">
        <a id="regattalink_@regatta.Id"
           href="~/@Model.ClubInitials/Regatta/@regatta.Season.Name/@regatta.UrlName"
           >@Html.DisplayFor(modelItem => regatta.Name)</a>
        (@(regatta.Fleets?.Count.ToString() ?? "No") Fleets)
    </div>
    <div class="col-sm-4 col-lg-3">
        @regatta.StartDate?.ToString("d") -
        @regatta.EndDate?.ToString("d")
    </div>
    <div class="col-sm-4 col-lg-3">
        @if (regatta.UpdatedDate.HasValue)
        {
            <span class="d-none d-md-table-cell">
            <i>@localizer["Updated"] @(regatta.UpdatedDate.Value.ToString("d"))</i>
            </span>
        }
    </div>
</div>
        }
    }
}
else
{
    <br />
    <h4>This club has not shared any regattas.</h4>
}