@using SailScores.Web.Models.SailScores;
@using Microsoft.Extensions.Localization
@using SailScores.Web.Resources
@using SailScores.Web.Services

@inject IStringLocalizer<SharedResource> localizer
@inject AppSettingsService settingsService

@model ClubCollectionViewModel<RegattaSummaryViewModel>
@{
    ViewBag.Title = Model.ClubInitials + " " + localizer["Regattas"];
    ViewData["MetaDescription"] = $"{Model.ClubName} {localizer["Regattas"]} list";
    Layout = "_ClubLayout";
}

@* Used to have a season list, but regatta lists are small enough this was excessive.
 *@
<h1 class="h2">Regattas</h1>
@if (Model.CanEdit)
{

    <div class="row bg-almost">
        <div class="col-sm-3 my-2">
            <a asp-controller="Regatta"
               asp-action="Create"
               asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
               class="btn btn-outline-primary">@localizer["New Regatta"]</a>
        </div>
    </div>
    <br />
}
@if (Model.List.Any())
{
    @foreach (var item in Model.List.GroupBy(s => s.Season?.Name ?? String.Empty, s => s))
    {
        <div id="@item.FirstOrDefault()?.Season?.UrlName" class="row">
            <div class="col-12">
                <h2>@item.Key</h2>
            </div>
        </div>
        foreach (var regatta in item)
        {
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <a id="regattalink_@regatta.Id"
                       href="~/@Model.ClubInitials/Regatta/@regatta.Season.UrlName/@regatta.UrlName">@Html.DisplayFor(modelItem => regatta.Name)</a>
                    (@(regatta.FleetCountString))
                </div>
                <div class="col-sm-4 col-lg-3">
                    @regatta.StartDate?.ToString("d") -
                    @regatta.EndDate?.ToString("d")
                </div>
                <div class="col-sm-4 col-lg-3">
                    @if (regatta.UpdatedDate.HasValue)
                    {
                        <span class="d-none d-md-table-cell">
                            <em>@localizer["Updated"] @(regatta.UpdatedDate.Value.ToString("d"))</em>
                        </span>
                    }
                </div>
            </div>
        }
        <br />
    }
}
else
{
    <br />
    <h4>This club has not shared any regattas.</h4>
}