@model SailScores.Web.Models.SailScores.MultipleCompetitorsWithOptionsViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h2>Create</h2>

<h4>Multiple Competitors</h4>
<hr />

<form asp-action="CreateMultiple"
      asp-route-returnurl="@ViewData["ReturnUrl"]">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BoatClassId" class="control-label">Class <em>Required</em></label>
                <select asp-for="BoatClassId" class="form-control">
                    <option selected="selected">Select a class...</option>
                    @foreach (var boatclass in Model.BoatClassOptions)
                    {
                        <option value="@boatclass.Id">
                            @boatclass.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="BoatClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FleetIds" class="control-label">Fleets <span class="small muted"><i>Optional</i> If in doubt, leave empty.</span></label>
                <select id="seriesIds" asp-for="FleetIds" class="form-control selectpicker" multiple>
                    @foreach (var fleet in Model.FleetOptions)
                    {
                        <option value="@fleet.Id">
                            @fleet.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="FleetIds" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div id="allCompetitors">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            Sail Number
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            Name
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            Boat Name
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            Home Club <span class="small muted"><i>Optional - for regattas</i></span>
                        </div>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                <div class="row" id="compRowTemplate" style="display: none">
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" name="template.SailNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="template.Name" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="template.BoatName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="template.HomeClubName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-light" type="button"
                                onclick="addNewRow()">
                            <span class="fas fa-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="row competitor-row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" name="competitors[0].SailNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="competitors[0].Name" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="competitors[0].BoatName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="competitors[0].HomeClubName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-light" type="button"
                                onclick="addNewRow()">
                            <span class="fas fa-plus"></span>
                        </button>
                    </div>
                </div>




            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary my-2" />
                <a asp-controller="Admin"
                   asp-action="Index"
                   asp-fragment="competitors"
                   class="btn btn-outline-primary">Cancel</a>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        (function () {
            var textbox = document.getElementById("Competitor[0].Name");

            textbox.onpaste = function (event) {
                console.error(event.clipboardData.getData('text/plain'));
                console.error(event.clipboardData.getData('text/html'));
                var bar = document.getElementById("bar")
                var h = (bar.contentDocument || bar.contentWindow);
                h = h.document || h;
                h.body.innerHTML = event.clipboardData.getData('text/html');
            };
        })();
        function addNewRow() {
            var rowCount = 0;
            var allCompDiv = document.getElementById("allCompetitors");
            var compTemplate = document.getElementById("competitorTemplate");

            var compListItem = (compTemplate.cloneNode(true));
            compListItem.id = competitor.id.toString();
            compListItem.setAttribute("data-competitorId", competitor.id.toString());
            var span = compListItem.getElementsByClassName("competitor-name")[0];
            span.appendChild(document.createTextNode(competitor.name));

            span = compListItem.getElementsByClassName("sail-number")[0];
            span.appendChild(document.createTextNode(competitor.sailNumber));

            span = compListItem.getElementsByClassName("race-place")[0];
            span.appendChild(document.createTextNode(c.toString()));

            compListItem.style.display = "";
            resultDiv.appendChild(compListItem);
            calculatePlaces();
            $('html, body').animate({
                scrollTop: $(compListItem).offset().top - 150
            }, 200);


            // set focus to new row.
        }

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
}
