@model SailScores.Core.Model.Competitor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h2>Delete Competitor</h2>

<h3>Are you sure you want to delete @Model.SailNumber @Model.Name?</h3>
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <dl class="dl-horizontal">
        @if (!String.IsNullOrWhiteSpace(Model.AlternativeSailNumber))
        {
            <dt>
                @Html.DisplayNameFor(model => model.AlternativeSailNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AlternativeSailNumber)
            </dd>
        }
        @if (!String.IsNullOrWhiteSpace(Model.BoatName))
        {

            <dt>
                @Html.DisplayNameFor(model => model.BoatName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BoatName)
            </dd>
        }
        @if (!String.IsNullOrWhiteSpace(Model.Notes))
        {

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
        }
        </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ClubId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="Admin"
           asp-action="Index"
           asp-fragment="competitors"
           class="btn btn-outline-primary">Cancel</a>
    </form>
</div>
