@using Microsoft.Extensions.Localization
@using SailScores.Web.Resources
@using SailScores.Web.Models.SailScores
@using Humanizer

@inject IStringLocalizer<SharedResource> localizer

@model ClubItemViewModel<CompetitorStatsViewModel>

@{
    ViewBag.Title = "Details";
    Layout = "_ClubLayout";
}

<h2>@Model.Item.SailNumber</h2>
<h3>@Model.Item.Name</h3>
<h4><i>@Model.Item.BoatName</i></h4>

<hr />
<div class="row">
    @foreach (var SeasonStats in Model.Item.SeasonStats)
    {
        <div class="col-12">
            <h4>@SeasonStats.SeasonName</h4>
            <strong>@SeasonStats.RaceCount</strong> races
            @if (SeasonStats.DaysRaced.HasValue)
            {
                @:on <strong>@SeasonStats.DaysRaced</strong> days<br />
                @if (SeasonStats.DaysRaced > 2)
                {

                    @(SeasonStats.AverageFinishPlace.HasValue ? String.Format("{0:0.0}", SeasonStats.AverageFinishPlace) : "No") @:average place<br />
                    @:Raced against @SeasonStats.BoatsRacedAgainst boats
                    @if (SeasonStats.BoatsBeat.HasValue && ((SeasonStats.BoatsBeat * 100m) / SeasonStats.BoatsRacedAgainst) > 25)
                    {
                        @:and beat @SeasonStats.BoatsBeat boats
                        @:( @(((SeasonStats.BoatsBeat.Value * 100m) / SeasonStats.BoatsRacedAgainst.Value).ToString("0.0")) %)<br />
                    }
                    <table class="table table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                @foreach (var rankGroup in SeasonStats.PlaceCounts)
                                {
                                    @:<th>@(rankGroup.Place.HasValue ? rankGroup.Place.Value.Ordinalize() : rankGroup.Code)</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td># Finishes</td>
                                @foreach (var rankGroup in SeasonStats.PlaceCounts)
                                {
                                    @:<td>@(rankGroup.Count.HasValue ? rankGroup.Count.Value.ToString() : "-")</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                }
            }
            <br />
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
}
