@using Microsoft.Extensions.Localization
@using SailScores.Web.Resources
@using SailScores.Web.Models.SailScores

@inject IStringLocalizer<SharedResource> localizer

@model ClubItemViewModel<CompetitorStatsViewModel>

@{
    ViewBag.Title = Model.Item.SailNumber + " " + (!String.IsNullOrWhiteSpace(Model.Item.Name) ? Model.Item.Name : "") + " Stats";
    Layout = "_ClubLayout";
    ViewData["MetaDescription"] = $"Competitor Statistics for {Model.Item.SailNumber} : {Model.Item.Name} with {Model.ClubName}";
    ViewData["ogTitle"] = ViewBag.Title;
    ViewData["ogDescription"] = ViewData["MetaDescription"];
}


<div class="row">
    <div class="col-12">
        <h1 class="h2 avoidwrap">@Model.Item.SailNumber</h1>&emsp;
        <span class="avoidwrap">
            <span class="h3 avoidwrap">@Model.Item.Name</span>&emsp;
            <span class="h3 avoidwrap"><em>@Model.Item.BoatName</em></span>
        </span>
        @if (Model.Item.SeasonStats?.Max(s => s.LastRacedDate) != null)
        {
    <p>Last raced @Model.Item.SeasonStats.Max(s => s.LastRacedDate).Value.ToString("D")</p>
        }
    </div>
</div>
<div class="row">
    @foreach (var SeasonStats in Model.Item.SeasonStats)
    {
    <div class="col-12">
        <h4>@SeasonStats.SeasonName</h4>
        <strong>@SeasonStats.RaceCount</strong> races
        @if (SeasonStats.DaysRaced.HasValue)
        {
            @:on <strong>@SeasonStats.DaysRaced</strong> days&emsp;
            @if (SeasonStats.DaysRaced > 2)
            {
                @:Average place: @(SeasonStats.AverageFinishRank.HasValue ? String.Format("{0:0.0}", SeasonStats.AverageFinishRank) : "No")&emsp;
                @:Raced against @SeasonStats.BoatsRacedAgainst others
                @if (SeasonStats.BoatsBeat.HasValue && ((SeasonStats.BoatsBeat * 100m) / SeasonStats.BoatsRacedAgainst) > 25)
                {
                    @:and beat @SeasonStats.BoatsBeat others
                    @:(@(((SeasonStats.BoatsBeat.Value * 100m) / SeasonStats.BoatsRacedAgainst.Value).ToString("0.0"))%)<br />
                }
            }
        }
        <br />
    </div>
    <div class="row">
        <div class="col-12">
            <svg id="chart-@(SeasonStats.SeasonUrlName)" class="season-chart"
                    data-competitor-id="@Model.Item.Id"
                    data-season-name="@SeasonStats.SeasonUrlName"></svg>
        </div>
    </div>
    }
</div>
<div class="row">
    <div class="col-12">
        Statistics may not include all series.
    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" integrity="sha256-+9Mf3cAVmxxudDsr1XwXUeRZFtvdWVYdq5/vcgiYyNU=" crossorigin="anonymous"></script>
    <script src="~/js/competitorStatsChart.js"></script>
}
