@using SailScores.Web.Models.SailScores;
@using Microsoft.Extensions.Localization
@using SailScores.Web.Services
@using SailScores.Web.Resources

@inject IStringLocalizer<SharedResource> localizer
@inject AppSettingsService settingsService

@model ClubCollectionViewModel<CompetitorIndexViewModel>

@{
	ViewBag.Title = Model.ClubInitials + " " + localizer["Competitors"];
	Layout = "_ClubLayout";
}
<div class="container px-0 px-sm-2">
 <div class="row">
  <div class="col-12">
   <h1>@localizer["Competitors"]</h1>
  </div>
 </div>
	@if (Model.CanEdit)
	{
	 <div class="row">
	  <div class="col-3">
	   <a class="btn btn-primary" asp-action="CreateMultiple" asp-controller="Competitor">
		Create
	   </a>
	  </div>
	  <div class="col-6 col-sm-4 col-md-3">
	   <a class="btn btn-warning" asp-action="Options" asp-controller="MergeCompetitor">
		Merge Competitors
	   </a>
	  </div>
	  <div class="col-3">
	   <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Admin">
		Club Admin
	   </a>
	  </div>
	 </div>
	}
 <div class="row">
		@if (Model.CanEdit)
		{
	  <div class="col-6 px-5 pt-2">
	   <input type="checkbox" id="show-inactive" name="show-inactive"
	   class="form-check-input"
	   value="show-inactive"
	   checked
	   onchange="changeVisibility()">
	   <label for="show-inactive"
		class="form-check-label"> Show inactive</label>
	  </div>
		}
		<div class="col-6 py-2">
            <div class="form-row">
   <label  class="control-label col-form-label col-4"
	for="sort-order">Sort </label>
   <select id="sort-order"
   class="form-control col-8"
   onchange="sortCompetitors()">
	<option value="name">Name</option>
	<option value="sail">Sail Number</option>
   </select>
   </div>
  </div>
 </div>
 <br />

 <div id="comp-list">
		@foreach (var item in Model.List.OrderBy(c => c.Name).ThenBy(c => c.SailNumber))
		{
	  <div class="row border-bottom mb-1 pb-1 comp-row @(item.IsActive ? "" : "comp-inactive") " data-name="@item.Name" data-sail="@item.SailNumber">
				@if (Model.CanEdit)
				{
		   <div class="col col-2 pr-1">
				@if(!item.IsDeletable)
				{
					<button class="btn btn-sm btn-outline-danger mr-2 mb-2 disabled"
				   asp-action="Delete"
				   asp-controller="Competitor"
				   asp-route-id="@item.Id"
				   disabled="disabled"
					title="Can not be deleted: @item.PreventDeleteReason">
			 <span class="fas fa-trash"></span>
			</button>
				} else {
					<a class="btn btn-sm btn-outline-danger mr-2 mb-2"
				   asp-action="Delete"
				   asp-controller="Competitor"
				   asp-route-id="@item.Id"
					title = "Delete">
			 <span class="fas fa-trash"></span>
			</a>
				}
<span class="d-none d-sm-inline"> </span><a class="btn btn-sm btn-outline-primary mb-2"
													asp-action="Edit"
													asp-controller="Competitor"
													asp-route-id="@item.Id"
													title="Edit">
			 <span class="fas fa-pen"></span>
			</a>
		   </div>
				}
	   <div class="col col-10">
		<div class="row">
		 <div class="col col-6 col-sm-4 col-lg-3">
		  <a asp-route="Competitor"
						   asp-route-clubInitials="@Model.ClubInitials"
						   asp-route-sailNumber="@item.SailNumber">
		   <strong>@Html.DisplayFor(modelItem => item.SailNumber)</strong>
		  </a>
		 </div>
		 <div class="col col-6 col-sm-4 col-lg-3">@Html.DisplayFor(modelItem => item.Name)</div>
		 <div class="col col-6 col-sm-4 col-lg-3 small order-sm-12">
							@Html.DisplayFor(modelItem => item.BoatClass.Name)
		  <em class="text-warning">@(item.IsActive ? "" : "Inactive")</em>
		 </div>
		 <div class="col col-6 col-sm-3 col-md-4 col-lg-2"><em>@Html.DisplayFor(modelItem => item.BoatName)</em></div>
		 <div class="col-12 order-last">
			@Html.DisplayFor(modelItem => item.Notes)
		 </div>
		</div>
	   </div>
	  </div>
		}
 </div>
</div>

@section Scripts {
<script>
	function sortCompetitors() {
		selectedSort = $('#sort-order').val();
		 var result = $('.comp-row').sort(function (a, b) {
			var contentA = $(a).data((undefined != selectedSort && selectedSort === 'sail') ? 'sail' : 'name');
			var contentB = $(b).data((undefined != selectedSort && selectedSort === 'sail') ? 'sail' : 'name');
			return ('' + contentA).localeCompare(contentB);
		});
		$('#comp-list').empty();
		$('#comp-list').append(result);
	};

	function changeVisibility() {
		if($('#show-inactive').is(":checked") ) {
			$('.comp-row').show(300);
		} else {
			$('.comp-inactive').hide(300);
		}
	};

		sortCompetitors();
		changeVisibility();
</script>
}
