@using SailScores.Web.Models.SailScores;
@using SailScores.Web.Extensions;
@using Microsoft.Extensions.Localization
@using SailScores.Web.Services
@using SailScores.Web.Resources

@inject IStringLocalizer<SharedResource> localizer
@inject AppSettingsService settingsService

@model ClubCollectionViewModel<CompetitorViewModel>

@{
    ViewBag.Title = Model.ClubInitials + " " + localizer["Competitors"];
    Layout = "_ClubLayout";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>@Model.ClubInitials @localizer["Competitors"]</h1>
        </div>
    </div>
    @foreach (var competitor in Model.List)
    {
        <div class="row">
            <div class="col-12">
                <h2><a asp-route="Competitor"
                       asp-route-clubInitials="@Model.ClubInitials"
                       asp-route-sailNumber="@competitor.SailNumber"
                       >@competitor.Name</a></h2>
            </div>
        </div>
    }
</div>
