@using SailScores.Web.Services
@using SailScores.Api.Enumerations

@model SailScores.Web.Models.SailScores.SeriesWithOptionsViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h4>Create a Series</h4>
<hr />
<div class="row">
    <div class="col-lg-4 col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <span class="small">
                    Add the boats' class to the name if other classes have similar series, e.g. <em>Laser Championship</em><br />
                    Don't include the season in the series name; it will be added automatically.
                </span>

            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <span class="small"><em>Optional</em></span>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div id="seasonSelectGroup" class="mb-3">
                <label asp-for="SeasonId" class="control-label">Season</label>
                <select asp-for="SeasonId" class="form-select">
                    <option selected="selected">Select a season...</option>
                    @foreach (var season in Model.SeasonOptions)
                    {
                        <option value="@season.Id">
                            @season.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="SeasonId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Type">Series Type</label>
                <select id="Type" asp-for="Type" class="form-select">
                    <option value="1">Standard</option>
                    <option value="3">Summary Series</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div id="advancedFields" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="advancedHeading">
                        <h5 class="mb-0">
                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
                                Additional Settings <span class="fas fa-chevron-down"></span></a>
                                <span class="small"><em>&ensp;Optional</em></span>
                        </h5>
                    </div>
                    <div id="collapseAdvanced" class="collapse" role="tabpanel" aria-labelledby="advancedHeading" data-parent="#advancedFields">
                        <div class="card-body">
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="IsImportantSeries" />
                                    <label class="form-check-label"> List as Top Series</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="TrendOption">Calculate Rank Trend</label>
                                <select id="ScoringSystemId" asp-for="TrendOption" class="form-select">
                                    @foreach (var trendOption in EnumHelper<TrendOption>.GetValues(TrendOption.None))
                                    {
                                        <option value="@trendOption">
                                            @(EnumHelper<TrendOption>.GetDisplayValue(trendOption))
                                        </option>
                                    }
                                </select>
                                <span asp-validation-for="TrendOption" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ScoringSystemId">Scoring System</label>
                                <select id="ScoringSystemId" asp-for="ScoringSystemId" class="form-select">
                                    @foreach (var scoringSystem in Model.ScoringSystemOptions)
                                    {
                                        <option value="@scoringSystem.Id">
                                            @scoringSystem.Name
                                        </option>
                                    }
                                </select>
                                <span asp-validation-for="ScoringSystemId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="ExcludeFromCompetitorStats" />
                                    <label class="form-check-label"> Exclude from competitor summary statistics</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="HideDncDiscards" />
                                    <label class="form-check-label"> Hide discarded DNC scores (Show as blank.)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-controller="Admin"
                   asp-action="Index"
                   asp-fragment="series"
                   class="btn btn-outline-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
