@using SailScores.Web.Models.SailScores;
@using SailScores.Core.Model;
@using SailScores.Core.FlatModel;
@using SailScores.Api.Enumerations;

@model ClubItemViewModel<Series>

@{
    ViewBag.Title = Model.Item.Name;
    Layout = "_ClubLayout";
}

<h2>@Model.Item.Name</h2>
@if(!String.IsNullOrWhiteSpace(Model.Item.Description)) {
    <h5>@Model.Item.Description</h5>
}
    @Model.Item.FlatResults.NumberOfSailedRaces races sailed
    with @Model.Item.FlatResults.NumberOfDiscards discards,
    @Model.Item.FlatResults.Competitors.Count() competitors
<div class="table-responsive-sm">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Place</th>
                <th scope="col">Sail</th>
                <th scope="col">Helm</th>
                <th scope="col" class="d-none d-sm-table-cell">Boat</th>
                <th scope="col" class="text-center">Total</th>
                @foreach (var race in Model.Item.FlatResults?.Races ?? Enumerable.Empty<FlatRace>())
                {

                    <th class="text-center">
                        @Html.ActionLink(
@race.Date?.ToString("M-d") + " R" + @race.Order
, "Details", "Race", new { id = race.Id })
                    </th>
                }
                @if ((Model.Item.FlatResults?.Races?.Count() ?? 0) > 4)
                {
                    <th scope="col" class="d-table-cell d-md-none">Helm</th>
                }
            </tr>
        </thead>
        <tbody>
            @{ var firstRow = true;
                var compList = Model.Item.FlatResults?.Competitors;
                if (compList == null || compList.Count() == 0) {
                    compList = new List<FlatCompetitor>{
                        new FlatCompetitor {
                            Name= "No competitors"}
                        };
                }
            }
            @foreach (var comp in compList)
            {
            <tr>
                <th scope="row">@Model.Item.FlatResults.GetScore(comp)?.Rank</th>
                <th scope="row">@comp.SailNumber</th>
                <th scope="row">@comp.Name</th>
                <td class="d-none d-sm-table-cell">@comp.BoatName</td>
                <td scope="row" class="text-center"><strong>@Model.Item.FlatResults.GetScore(comp)?.TotalScore</strong></td>

                @foreach (var race in Model.Item.FlatResults.Races)
                {
                    if (race.State == RaceState.Abandoned)
                    {
                        if (firstRow)
                        {
                            <td rowspan="@(Model.Item.FlatResults?.Competitors?.Count() ?? 1)" class="abandoned d-none d-sm-table-cell">
                                <span>ABANDONED</span>
                            </td>
                        }
                    }
                    else if (race.State == RaceState.Scheduled)
                    {
                        if (firstRow)
                        {
                            <td rowspan="@(Model.Item.FlatResults?.Competitors?.Count() ?? 1)" class="scheduled d-none d-sm-table-cell">
                                <span>SCHEDULED</span>
                            </td>
                        }
                    }
                    else
                    {
                        var result = Model.Item.FlatResults.GetScore(comp, race);
                        @if (result != null)
                        {
                            <td class="text-center @(result?.Place == 1 ? "finish-first " : "") @(result?.Place == 2 ? "finish-second " : "") @(result?.Place == 3 ? "finish-third " : "") ">
                                @if (result.Discard)
                                {
                                    @Html.Raw("<span class='text-muted'>")
                                    @Html.Raw("<s>")
                                }
                                @result
                                @if (result.Discard)
                                {
                                    @Html.Raw("</s>")
                                    @Html.Raw("</span>")

                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }

                }
                @if ((Model.Item.FlatResults.NumberOfSailedRaces) > 4)
                {
                    <th class="d-table-cell d-md-none">@comp.Name</th>
                }
                @{firstRow = false;
                }
            </tr>
            }

        </tbody>
    </table>
</div>