@using SailScores.Web.Models.SailScores
@using SailScores.Core.Model
@using Microsoft.Extensions.Localization
@using SailScores.Web.Resources
@using SailScores.Web.Services

@inject IStringLocalizer<SharedResource> localizer
@inject AppSettingsService settingsService

@model ClubItemViewModel<Series>

@{
    var results = Model.Item.FlatResults;

    ViewBag.Title = $"{Model.Item.Season?.Name} {Model.Item.Name} - {Model.ClubInitials}";
    Layout = "_ClubLayout";
    ViewData["WideLayout"] = (results.Races?.Count() ?? 0) > 7;
    ViewData["MetaDescription"] = $"Results for {Model.Item.Name} series racing at {Model.ClubInitials}";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="h2">@Model.Item.Name</h1>
        @if (!String.IsNullOrWhiteSpace(Model.Item.Description))
        {
            <h5>@Model.Item.Description</h5>
        }
        @results.NumberOfSailedRaces @localizer["races sailed with"] @results.NumberOfDiscards
        @localizer["discards"],
        @results.Competitors.Count() @localizer["competitors"]
        @if (!String.IsNullOrWhiteSpace(@results.ScoringSystemName))
        {
            @:&ndash; @results.ScoringSystemName
        }
        @if (results.IsPercentSystem && results.PercentRequired.HasValue && results.PercentRequired.Value > 1)
        {
            @:&ndash; @results.PercentRequired.Value.ToString("G5")% participation required for ranking
        }
        @if (Model.Item.ExcludeFromCompetitorStats)
        {
            <br />@:<small>This series is excluded from competitor stats.</small>
        }
    </div>

    <div class="col-md-6">
        @if (Model.CanEdit)
        {
            <br class="d-md-none" />
            <hr class="d-md-none" />
            <div class="row bg-almost">
                <div class="col-sm-4 my-2">
                    <a asp-controller="Race"
                       asp-action="Create"
                       asp-route-seriesId="@Model.Item.Id"
                       asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)"
                       class="btn btn-outline-primary">@localizer["New Race"]</a>
                </div>
            </div>
        }
    </div>
</div>

@await Html.PartialAsync("_ResultsTable", Model.Item,
                        new ViewDataDictionary(this.ViewData) { { "ExcludeCompetitorLinks", Model.Item.ExcludeFromCompetitorStats } })

@if (results.NumberOfSailedRaces > 2)
{
    <br />
    <div class="container d-none d-lg-block">
        <div class="row">
            <div class="col-12">
                <svg id="chart" class="results-chart" data-series-id="@Model.Item.Id"></svg>
            </div>
        </div>
    </div>
}

@await Html.PartialAsync("_CodeGlossary", Model.Item)

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js" integrity="sha256-+9Mf3cAVmxxudDsr1XwXUeRZFtvdWVYdq5/vcgiYyNU=" crossorigin="anonymous"></script>
    <script src="~/js/seriesChart.js"></script>
}
