@using SailScores.Core.Model
@using Microsoft.Extensions.Localization
@using SailScores.Web.Extensions
@using SailScores.Web.Resources

@inject IStringLocalizer<SharedResource> localizer

@model Series

@{
    ViewBag.Title = Model.Name;
    Layout = null;
}
@{
    var results = Model.FlatResults;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@Model.Name - SailScores</title>
    @if (!String.IsNullOrWhiteSpace((String)ViewData["MetaDescription"]))
    {
        <meta name="description" content="@ViewData["MetaDescription"]" />
    }
    @if (!String.IsNullOrWhiteSpace((String)ViewData["MetaKeywords"]))
    {
        <meta name="keywords" content="@ViewData["MetaKeywords"]" />
    }
    @await Html.EmbedCss("css\\site.min.css")
    @*<inline-style href="css/site.min.css" />*@
</head>
<body>
    <div class="body-content">
        <main class="col-12 col-lg-9 py-md-3 pl-md-5 bd-content" role="main">
            <div class="row">
                <div class="col-12">
                    <h2>@Model.Name</h2>
                    @if (!String.IsNullOrWhiteSpace(Model.Description))
                    {
                        <h5>@Model.Description</h5>
                    }
                    @results.NumberOfSailedRaces @localizer["races sailed with"] @results.NumberOfDiscards
                    @localizer["discards"],
                    @results.Competitors.Count() @localizer["competitors"]
                    @if (!String.IsNullOrWhiteSpace(@results.ScoringSystemName))
                    {
                        @:&ndash; @results.ScoringSystemName
                    }
                    @if (results.IsPercentSystem && results.PercentRequired.HasValue)
                    {
                        @:&ndash; @results.PercentRequired.Value.ToString("G5")% participation required for ranking
                    }
                </div>
            </div>
            @{ ViewData["IsExport"] = true; }

            @await Html.PartialAsync("_ResultsTable", Model)
            <br />
            <div class="row">
                @if (Model.UpdatedDate.HasValue)
                {
                    <div class="col-md-6">
                        <span class="font-italic">@localizer["Updated"] @(Model.UpdatedDate.Value.ToString("f")) UTC</span>
                    </div>
                }
                <div class="col-md-6">
                    Exported from <a href="https://sailscores.com">SailScores.com</a>
                </div>

            </div>
        </main>
    </div>
</body>
</html>


