@using SailScores.Web.Models.SailScores;
@using SailScores.Web.Extensions;
@using Microsoft.Extensions.Localization
@using SailScores.Web.Resources

@inject IStringLocalizer<SharedResource> localizer

@model ClubCollectionViewModel<SeriesSummary>
@{
    ViewBag.Title = Model.ClubInitials + " " + localizer["Series"];
    Layout = "_ClubLayout";
}

@section Sidebar {
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky sticky-top">
            <ul class="nav flex-column">
                @foreach (var item in Model.List.GroupBy(s => s.Season?.Name ?? String.Empty, s => s))
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="#@item.Key">
                            @item.Key
                        </a>
                    </li>
                }

            </ul>
        </div>
    </nav>
}

<table class="table">
    <tbody>
        @foreach (var item in Model.List.GroupBy(s => s.Season?.Name ?? String.Empty, s => s))
        {
            <tr id="@item.Key">
                <td colspan="3">
                    <h2>@item.Key</h2>
                </td>
            </tr>
            foreach (var series in item)
            {
                <tr>
                    <td>
                        <a href="~/@Model.ClubInitials/@series.Season.Name/@series.Name">
                            @Html.DisplayFor(modelItem => series.Name)
                        </a>
                        (@(series.Races?.Count.ToString() ?? "No") Races)
                    </td>
                    <td>
                        @series.DateString
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => series.Description)
                        @if (series.UpdatedDate.HasValue)
                        {
                            <span class="d-none d-md-table-cell"><i>Updated @(series.UpdatedDate.Value.ToString("d"))</i></span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
