@using SailScores.Web.Models.SailScores;
@model ClubCollectionViewModel<SeriesSummary>

@{
    ViewBag.Title = Model.ClubInitials + " Series";
    Layout = "_ClubLayout";
}

<table class="table">
    <tbody>
        @foreach (var item in Model.List.GroupBy(s => s.Season?.Name ?? String.Empty, s => s))
        {
            <tr id="@item.Key">
                <td colspan="3">
                    <h2>@item.Key</h2>
                </td>
            </tr>
            foreach (var series in item)
            {
                 <tr>
                     <td>
                         <a href="~/@Model.ClubInitials/@series.Season.Name/@series.Name">
                             @Html.DisplayFor(modelItem => series.Name) (@(series.Races?.Count.ToString() ?? "No") Races)
                         </a>
                     </td>
                     <td>
                         @series.DateString
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => series.Description)
                     </td>
                 </tr>
            }
            
        }
    </tbody>
</table>

