@model SailScores.Web.Models.SailScores.WhatIfResultsViewModel
@inject IStringLocalizer<SharedResource> localizer
@inject AppSettingsService settingsService

@{
    var results = Model.Series.FlatResults;
    ViewData["Title"] = "What If results";
    ViewData["WideLayout"] = (results.Races?.Count() ?? 0) > 7;
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h2>What if</h2>
<p class="bd-lead">
Check how the series results would change if scored with different options.
</p>
<h4>Blah</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <h1 class="h2">@Model.Series.Name</h1>
        @if (!String.IsNullOrWhiteSpace(Model.Series.Description))
        {
            <h5>@Model.Series.Description</h5>
        }
        @results.NumberOfSailedRaces @localizer["races sailed with"] @results.NumberOfDiscards
        @localizer["discards"],
        @results.Competitors.Count() @localizer["competitors"]
        @if (!String.IsNullOrWhiteSpace(@results.ScoringSystemName))
        {
            @:&ndash; @results.ScoringSystemName
        }
        @if (results.IsPercentSystem && results.PercentRequired.HasValue && results.PercentRequired.Value > 1)
        {
            @:&ndash; @results.PercentRequired.Value.ToString("G5")% participation required for ranking
        }
        @if (Model.Series.ExcludeFromCompetitorStats)
        {
            <br />

            @:<small>This series is excluded from competitor stats.</small>
        }
    </div>

</div>
@await Html.PartialAsync("_ResultsTable", Model.Series,
                            new ViewDataDictionary(this.ViewData) {
                                { "ExcludeCompetitorLinks", true },
                            //    { "AlternateResults", false }
                            })

@await Html.PartialAsync("_ResultsTable", Model.Series,
                                new ViewDataDictionary(this.ViewData) {
                                { "ExcludeCompetitorLinks", true },
                                { "AlternateResults", Model.AlternateResults }})


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
}
