@model SailScores.Web.Models.SailScores.WhatIfResultsViewModel
@inject IStringLocalizer<SharedResource> localizer
@inject AppSettingsService settingsService

@{
    var results = Model.Series.FlatResults;
    var alternateResults = Model.AlternateResults;
    ViewData["Title"] = "What If results";
    ViewData["WideLayout"] = (results.Races?.Count() ?? 0) > 7;
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h2>Scores</h2>
<p class="bd-lead">
Immediately below is the preview scoring. After that are the currently shared results.
</p>
<hr />

<div class="row">
    <div class="col-md-6">
        <h4>
        @alternateResults.NumberOfSailedRaces @localizer["races sailed with"] @alternateResults.NumberOfDiscards
        @localizer["discards"],
        @alternateResults.Competitors.Count() @localizer["competitors"]
        @if (!String.IsNullOrWhiteSpace(@alternateResults.ScoringSystemName))
        {
            @:&ndash; @alternateResults.ScoringSystemName
        }
        @if (alternateResults.IsPercentSystem && alternateResults.PercentRequired.HasValue && alternateResults.PercentRequired.Value > 1)
        {
            @:&ndash; @alternateResults.PercentRequired.Value.ToString("G5")% participation required for ranking
        } </h4>
    </div>
</div>
@await Html.PartialAsync("_ResultsTable", Model.Series,
                                new ViewDataDictionary(this.ViewData) {
                                { "ExcludeCompetitorLinks", true },
                                { "AlternateResults", Model.AlternateResults }})
<div class="row">
    <div class="col-md-6">
        <h4>
        @results.NumberOfSailedRaces @localizer["races sailed with"] @results.NumberOfDiscards
        @localizer["discards"],
        @results.Competitors.Count() @localizer["competitors"]
        @if (!String.IsNullOrWhiteSpace(@results.ScoringSystemName))
        {
            @:&ndash; @results.ScoringSystemName
        }
        @if (results.IsPercentSystem && results.PercentRequired.HasValue && results.PercentRequired.Value > 1)
        {
            @:&ndash; @results.PercentRequired.Value.ToString("G5")% participation required for ranking
        }
        </h4>
    </div>
</div>
@await Html.PartialAsync("_ResultsTable", Model.Series,
                                new ViewDataDictionary(this.ViewData) {
                                { "ExcludeCompetitorLinks", true }
                            })

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
}
