@using Microsoft.Extensions.Configuration
@model SailScores.Web.Models.SailScores.ClubRequestViewModel

@inject IConfiguration _config;
@{
    var preferredhost = _config["PreferredHost"];
    string baseUrl = $"https://{preferredhost}";
    var clubUrl = $"{baseUrl}/{Model.ClubInitials + ((Model.ForTesting ?? false) ? "TEST" : "")}";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: "Open Sans", "Segoe UI", sans-serif;
        }
    </style>
</head>
<body>
    <div>
        <a href="@clubUrl">
            @Model.ClubInitials - @Model.ClubName
        </a>
    </div>
    <div>
        <p>@Model.ContactName,</p>
    </div>
    <div>
        <h3>Welcome to SailScores!</h3>
    </div>
    <p>
        A club has been set up for @Model.ClubName at: <br />
        <a href="@clubUrl">@clubUrl</a>
    </p>
    <p>
        Use the email address and password you provided during sign up to log
        in and edit this club. ( @Model.ContactEmail ). Before you score your
        first race, complete the steps listed on the club admin page:
        <a href="@clubUrl/admin/">@clubUrl/admin/</a>
    </p>
    <p>
        We'll make sure your discard pattern and boat types match what you
        provided.
    </p>
    <p>
        The club's pages are accessible to anyone through the URL above. Edit
        the club settings to make your pages visible on the front SailScores
        page and let search engines find your races.
    </p>
    <p>
        Please let us know about your experience: if there are areas of
        SailScores that are causing trouble or if you see an opportunity
        for improvement, please let us know.  Feel free to email me at
        <a href="mailto:jamie@widernets.com">jamie@widernets.com</a>
        or add to the public list of issues, bugs and feature requests at
        <a href="https://github.com/SailScores/SailScores/issues"
            >https://github.com/SailScores/SailScores/issues</a> .
    </p>
</body>
</html>