@using Microsoft.Extensions.Configuration
@model SailScores.Web.Models.SailScores.ClubRequestViewModel

@inject IConfiguration _config;
@{
    var preferredhost = _config["PreferredHost"];
    string baseUrl = $"https://{preferredhost}";
    var clubUrl = $"{baseUrl}/{Model.ClubInitials + ((Model.ForTesting ?? false) ? "TEST" : "")}";
    var accountUrl = $"{baseUrl}/Account/Register";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: "Open Sans", "Segoe UI", sans-serif;
        }
    </style>
</head>
<body>
    <div>
        <a href="@clubUrl">
            @Model.ClubInitials - @Model.ClubName
        </a>
    </div>
    <div>
        <p>@Model.ContactName,</p>
    </div>
    <div>
        <h3>Welcome to SailScores!</h3>
    </div>
    <p>
        A club has been set up for @Model.ClubName at: <br />
        <a href="@clubUrl">@clubUrl</a>
        <br />
    </p>
    <p>
        If you haven't already, create an account at
        <a href="@accountUrl">@accountUrl</a> using the email address you provided
        ( @Model.ContactEmail ). That account can edit this club.
        The club's pages are hidden from the front page of SailScores, but still
        accessible to anyone through the URL above.
    </p>
    <p>
        There are a few more steps to complete before you score your first race,
        such as entering a list of competitors. You'll find
        these steps listed on the club admin page:
        <a href="@clubUrl/admin/">@clubUrl/admin/</a>
    </p>
    <p>
        We'll take a look at your club and, if you provided the info, help
        set up the discard pattern and list of boat types you sail.
    </p>
    <p>
        Please let us know about your experience: if there are areas of SailScores that are
        causing you trouble or if you see an opportunity for improvement, please
        let us know.  Feel free to email me at
        <a href="mailto:jamie@widernets.com">jamie@widernets.com</a>
        or add to the public list of issues, bugs and feature requests at
        <a href="https://github.com/SailScores/SailScores/issues">https://github.com/SailScores/SailScores/issues</a> .</p>
</body>
</html>