@model IEnumerable<SailScores.Core.Model.Competitor>

<div class="card">
    <div class="card-header" id="competitorsHeading">
        <h5>
            <a class="collapsed" id="competitors" data-toggle="collapse" href="#collapseCompetitors" aria-expanded="false" aria-controls="collapseCompetitors">
                Competitors
            </a>
        </h5>
    </div>
    <div id="collapseCompetitors" class="collapse" aria-labelledby="competitorsHeading" data-parent="#accordion">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-primary" asp-action="Create" asp-controller="Competitor">
                        Create
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-warning" asp-action="Options" asp-controller="MergeCompetitor">
                        Merge Competitors
                    </a>
                </div>
            </div>
            <table class="table table-not-wide">
                <tbody>
                    @foreach (var item in Model.OrderBy(c => c.Name))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SailNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <em>@Html.DisplayFor(modelItem => item.BoatName)</em>
                            </td>
                            <td>
                                @(item.IsActive ? "" : "Inactive")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Notes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BoatClass.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Competitor", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", "Competitor", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>