@model IEnumerable<SailScores.Core.Model.Competitor>

    <h3 id="competitors">Competitors</h3>
    <p>
        @Html.ActionLink("Create", "Create", "Competitor", new { /* id=item.PrimaryKey */ })
    </p>
    <table class="table table-not-wide">
        <tbody>
            @foreach (var item in Model.OrderBy(c => c.Name))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SailNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <em>@Html.DisplayFor(modelItem => item.BoatName)</em>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoatClass.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Competitor", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", "Competitor", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
            }
        </tbody>
    </table>
