@model IEnumerable<SailScores.Core.Model.Fleet>


<h3 id="fleets">Fleets</h3>
<p>
    @Html.ActionLink("Create", "Create", "Fleet", new { /* id=item.PrimaryKey */ })
</p>
<table class="table table-not-wide">
    <tbody>
@foreach (var item in Model.OrderBy(f => f.Name)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FleetType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Fleet", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", "Fleet", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
