@model IEnumerable<SailScores.Core.Model.Fleet>

    <div class="card">
        <div class="card-header" id="fleetsHeading">
            <h5>
                <a id="fleets" class="collapsed" data-toggle="collapse" href="#collapseFleets" aria-expanded="false" aria-controls="collapseFleets">
                    Fleets
                </a>
            </h5>
        </div>
        <div id="collapseFleets" class="collapse" aria-labelledby="fleetsHeading" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Fleets group boats that race against each other. Competitors can belong to
                    multiple fleets.
                </p>
                <p>
                    <a class="btn btn-primary" asp-action="Create" asp-controller="Fleet">
                        Create
                    </a>
                </p>
                @foreach (var item in Model.OrderBy(f => f.Name))
                {
            <div class="row border-bottom mb-1 pb-1">
                <div class="col-6 col-sm-4 col-md-4">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col-6 col-sm-4 col-md-3">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="col-6 col-sm-4 col-md-3">
                    @Html.DisplayFor(modelItem => item.FleetType)
                </div>
                <div class="col-6 col-sm-4 col-md-2">
                    @Html.ActionLink("Edit", "Edit", "BoatClass", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "BoatClass", new { id = item.Id })
                </div>
            </div>
                }
            </div>
        </div>            
    </div>