@model IEnumerable<SailScores.Core.Model.Race>
<div class="card">
    <div class="card-header" id="racesHeading">
        <h5>
            <span id="races" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseRaces" aria-expanded="false" aria-controls="collapseRaces">
                Races
            </span>
        </h5>
    </div>
    <div id="collapseRaces" class="collapse" aria-labelledby="racesHeading" data-parent="#accordion">
        <div class="card-body p-1 p-md-20">
            <p>
                @Html.ActionLink("Create", "Create", "Race", new { /* id=item.PrimaryKey */ })
            </p>
            <div id="raceAccordion">
                @foreach (var yearRaces in Model.OrderByDescending(r => r.Date)
                   .GroupBy(r => r.Date?.Year.ToString() ?? String.Empty, r => r))
                {
                <div class="card">
                    <div id="raceYearAccordion_@yearRaces.Key">
                        <div class="card-header" id="raceYearHeading_@yearRaces.Key">
                            <h5>
                                <span id="@yearRaces.Key" class="btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseYear_@yearRaces.Key"
                                      aria-expanded="false" aria-controls="collapseRaces">
                                    @yearRaces.Key
                                </span>
                            </h5>
                        </div>
                        <div id="collapseYear_@yearRaces.Key" class="collapse"
                             aria-labelledby="raceYearHeading_@yearRaces.Key"
                             data-parent="#raceYearAccordion_@yearRaces.Key">
                            <div class="card-body p-1 p-md-20">
                                <div id="raceYearFleetAccordion_@(yearRaces.Key)">
                                    @foreach (var fleetRaces in yearRaces.OrderBy(r => r.Fleet?.Name).GroupBy(r => r.Fleet?.Name ?? String.Empty, r => r))
                                    {
                                        <div class="card">
                                            <div class="card-header" id="raceFleetHeading_@(yearRaces.Key)_@fleetRaces.Key.Replace(' ','_')">
                                                <h5>
                                                    <span id="@(yearRaces.Key)_@fleetRaces.Key.Replace(' ','_')" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFleet_@(yearRaces.Key)_@fleetRaces.Key.Replace(' ','_')" aria-expanded="false" aria-controls="collapseRaces">
                                                        @fleetRaces.Key
                                                    </span>
                                                </h5>
                                            </div>
                                            <div id="collapseFleet_@(yearRaces.Key)_@fleetRaces.Key.Replace(' ','_')" class="collapse"
                                                 aria-labelledby="raceFleetHeading_@(yearRaces.Key)_@fleetRaces.Key.Replace(' ','_')"
                                                 data-parent="#raceYearFleetAccordion_@(yearRaces.Key)">
                                                <div class="card-body p-1 p-md-20">

                                                    @foreach (var item in fleetRaces.OrderByDescending(r => r.Date).ThenBy(r => r.Order))
                                                    {
                                                    <div class="row mb-3 mb-md-1">
                                                        <div class="col-sm-2">
                                                            @Html.DisplayFor(modelItem => item.Date)
                                                        </div>
                                                        <div class="col-sm-1">
                                                            @Html.DisplayFor(modelItem => item.Order)
                                                        </div>
                                                        <div class="col-sm-2">
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </div>
                                                        <div class="d-none d-lg-block col-lg-3">
                                                            @Html.DisplayFor(modelItem => item.Description)
                                                        </div>
                                                        <div class="d-none d-md-block col-md-2">
                                                            (@(item.Series?.Count ?? 0) series)
                                                        </div>
                                                        <div class="col-sm-3 col-md-2">
                                                            @Html.ActionLink("Edit", "Edit", "Race",
                                                           new { id = item.Id },
                                                           new { @class = "text-primary" }) |
                                                            @Html.ActionLink("Delete", "Delete", "Race", new { id = item.Id },
                                                           new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
           
                </div>
        </div>
</div>
