@model IEnumerable<SailScores.Core.Model.Regatta>
<div id="regattasdiv">
    <div class="row">
        <div class="col-10 col-sm-8 col-md-5 col-lg-4">
            <h3 class="float-start">
                <a id="regattas">
                    Regattas
                </a>
                <a class="text-primary"
                    data-bs-container="body"
                    data-bs-toggle="popover"
                    data-bs-placement="top"
                    data-bs-trigger="focus hover"
                    data-bs-content="
            Regattas are an event over one or a few days. A regatta
            can involve multiple fleets.">
                    <span class="far fa-question-circle"></span>
                </a>
            </h3>
        </div>
        <div class="col-2 col-sm-4">
            <a class="btn btn-primary"
                asp-action="Create"
                asp-controller="Regatta">
                <span class="fas fa-plus"></span>
                <span class="d-none d-sm-inline">
                    New Regatta
                </span>
            </a>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row border-bottom mt-1 mb-1 pt-1 pb-1 ms-md-2">
            <div class="col-12 col-sm-8 col-md-6">
                <a class="btn btn-sm btn-outline-danger"
                    asp-action="Delete"
                    asp-controller="Regatta"
                    asp-route-id="@item.Id"
                    title="Delete">
                    <span class="fas fa-trash"></span>
                </a> &nbsp;
                <a class="btn btn-sm btn-outline-primary"
                    asp-action="Edit"
                    asp-controller="Regatta"
                    asp-route-id="@item.Id"
                    title="Edit">
                    <span class="fas fa-pen"></span>
                </a> &nbsp;
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                @item.Series.Sum(s => s.Races.Count()) Races
            </div>
            <div class="col-6 col-sm-6 col-md-4">
                <span class="d-none d-md-inline">@item.StartDate?.ToString("D")</span>
                <span class="d-md-none">@item.StartDate?.ToString("d")</span>
            </div>
        </div>
    }
</div>