@model IEnumerable<SailScores.Core.Model.Season>

<div class="card">
    <div class="card-header" id="seasonsHeading">
        <h5>
            <a id="seasons" class="collapsed" data-toggle="collapse" href="#collapseSeasons" aria-expanded="false" aria-controls="collapseSeasons">
                Seasons
            </a>
        </h5>
    </div>
    <div id="collapseSeasons" class="collapse" aria-labelledby="seasonsHeading" data-parent="#accordion">
        <div class="card-body">
            <p>
                <a class="btn btn-primary" asp-action="Create" asp-controller="Season">
                    Create
                </a>
            </p>
            @foreach (var item in Model)
            {
                <div class="row border-bottom mb-1 pb-1">
                    <div class="col-6 col-sm-4 col-md-4">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                        @Html.DisplayFor(modelItem => item.Start)
                    </div>
                    <div class="col-6 col-sm-4 col-md-3">
                        @Html.DisplayFor(modelItem => item.End)
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        @Html.ActionLink("Edit", "Edit", "Season", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", "Season", new { id = item.Id })
                    </div>
                </div>
            }
        </div>
    </div>
</div>