@model IEnumerable<SailScores.Core.Model.Series>

<div class="card">
    <div class="card-header" id="seriesHeading">
        <h5>
            <a id="series" class="collapsed" data-toggle="collapse" href="#collapseSeries" aria-expanded="false" aria-controls="collapseSeries">
                Series
            </a>
        </h5>
    </div>
    <div id="collapseSeries" class="collapse" aria-labelledby="seriesHeading" data-parent="#accordion">
            <div class="card-body">
                <p>
                    <a class="btn btn-primary" asp-action="Create" asp-controller="Series">
                        Create
                    </a>
                </p>
                @foreach (var item in Model)
                {
                    <div class="row border-bottom mb-1 pb-1">
                        <div class="col-6 col-sm-4 col-md-4">
                            @Html.DisplayFor(modelItem => item.Season.Name)
                        </div>
                        <div class="col-6 col-sm-4 col-md-3">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <div class="col-6 col-sm-4 col-md-3">
                            @Html.DisplayFor(modelItem => item.Races.Count) Races
                        </div>
                        <div class="col-6 col-sm-4 col-md-3">
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                        <div class="col-6 col-sm-4 col-md-2">
                            @Html.ActionLink("Edit", "Edit", "Series", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", "Series", new { id = item.Id })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>