@model IEnumerable<SailScores.Core.Model.Series>

    <h3 id="series">Series</h3>
    <p>
        @Html.ActionLink("Create", "Create", "Series", new { /* id=item.PrimaryKey */ })
    </p>
    <table class="table table-not-wide">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Series", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", "Series", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
