@model IEnumerable<SailScores.Web.Models.SailScores.UserViewModel>
<div id="usersdiv">
    <div class="row">
        <div class="col-10 col-sm-8 col-md-5 col-lg-4">
            <h3 class="float-start">
                <a id="scorekeepers">Scorekeepers</a>
                <a class="text-primary"
                    data-bs-container="body"
                    data-bs-toggle="popover"
                    data-bs-placement="top"
                    data-bs-trigger="focus hover"
                    data-bs-content="Allow other users to edit results. Scorekeepers
                        may be added, removed, and edited.">
                    <span class="far fa-question-circle"></span>
                </a>
            </h3>
        </div>
        <div class="col-2 col-sm-4">
            <a class="btn btn-primary"
                asp-action="Add"
                asp-controller="User">
                <span class="fas fa-plus"></span>
                <span class="d-none d-sm-inline">
                    New Admin
                </span>
            </a>
        </div>
    </div>
    @foreach (var item in Model.OrderBy(f => f.Name))
    {
        <div class="row border-bottom mt-1 mb-1 pt-1 pb-1 ms-md-2">
            <div class="col-12 col-sm-6 col-md-4">
                <a class="btn btn-sm btn-outline-danger"
                    asp-action="Delete"
                    asp-controller="User"
                    asp-route-id="@item.Id"
                    title="Delete">
                    <span class="fas fa-trash"></span>
                </a> &nbsp;
                <a class="btn btn-sm btn-outline-primary"
                    asp-action="Edit"
                    asp-controller="User"
                    asp-route-id="@item.Id"
                    title="Edit">
                    <span class="fas fa-pen"></span>
                </a> &nbsp;
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                @(!item.Registered ? "Not" : "") Registered
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                @switch (item.PermissionLevel)
                {
                    case SailScores.Database.Entities.PermissionLevel.ClubAdministrator:
                        <small class="text-muted">Club Admin</small>
                        break;
                    case SailScores.Database.Entities.PermissionLevel.SeriesScorekeeper:
                        <small class="text-muted">Series Scorekeeper</small>
                        break;
                    case SailScores.Database.Entities.PermissionLevel.RaceScorekeeper:
                        <small class="text-muted">Race Scorekeeper</small>
                        break;
                }
            </div>
        </div>
    }
</div>
