@model SailScores.Web.Models.SailScores.AdminViewModel

@{
    ViewData["Title"] = "Edit " + Model.Name;
    Layout = "_ClubLayout";
}

@section Sidebar {
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky sticky-top">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#classes">Classes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#fleets">Fleets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#seasons">Seasons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#series">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#competitors">Competitors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#races">Races</a>
                </li>
                @foreach (var item in Model.Races.GroupBy(s => s.Season?.Name ?? String.Empty, s => s))
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="#@item.Key">
                            @item.Key
                        </a>
                    </li>
                }

            </ul>
        </div>
    </nav>
}

<h2>@Model.Name</h2>
<h3>Administrator View</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input hidden asp-for="Id" class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" cols="60" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsHidden" /> @Html.DisplayNameFor(model => model.IsHidden)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultScoringSystem">Default Scoring System</label>
                <select id="defaultScoringSystemId" asp-for="DefaultScoringSystem.Id" class="form-control">
                    @foreach (var scoringSystem in Model.ScoringSystemOptions)
                    {
                        <option value="@scoringSystem.Id">
                            @scoringSystem.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="DefaultScoringSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
