@using Microsoft.Extensions.Localization
@using SailScores.Web.Resources

@inject IStringLocalizer<SharedResource> localizer

@model SailScores.Web.Models.SailScores.AdminViewModel

@{
    ViewData["Title"] = "Admin " + Model.Name;
    Layout = "_ClubLayout";
}

@section Sidebar {
    <nav class="col-md-2 d-none d-md-block bg-almost sidebar">
        <div class="sidebar-sticky sticky-top">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#classes">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#fleets">Fleets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#seasons">Seasons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#series">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Competitor"
                       asp-action="index">Competitors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Race"
                       asp-action="index">Races</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scoring">Scoring</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#regattas">Regattas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scorekeepers">Scorekeepers</a>
                </li>
            </ul>
        </div>
    </nav>
}

<h2>@Model.Name Admin</h2>
<hr />
@if (Model.Tips != null)
{
    @await Html.PartialAsync("_AdminToDoList", Model.Tips)
}
<div class="row">
    <div class="col-6 col-sm-4">
        <a asp-controller="Race"
           asp-action="Create"
           class="btn btn-outline-primary btn-sm">@localizer["New Race"]</a>
    </div>
    <div class="col-6 col-sm-4">
        <a asp-controller="Admin"
           asp-action="Edit"
           class="btn btn-outline-primary btn-sm">@localizer["Edit Club Info"]</a>
    </div>
</div>
<hr />
<div class="row d-none d-md-inline">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-md-2">
                <span class="font-italic">@Html.DisplayNameFor(model => model.Description)</span>
            </div>
            <div class="col-md-10">
                @Html.Raw(String.IsNullOrWhiteSpace(Model.Description) ? "" : Markdig.Markdown.ToHtml(Model.Description))
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-2">
                <span class="font-italic">Default Scoring</span>
            </div>
            <div class="col-8 col-md-10">
                @Model.DefaultScoringSystemName
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-2"></div>
            <div class="col-8 col-md-10">
                @if (Model.IsHidden)
                {
                    <span class="text-warning">Not listed on SailScores front page.</span>
                }
            </div>
        </div>
    </div>
</div>
<div class="d-md-none">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#classes">Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#fleets">Fleets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#seasons">Seasons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#series">Series</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Competitor"
               asp-action="index">Competitors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Race"
               asp-action="index">Races</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scoring">Scoring</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#regattas">Regattas</a>
        </li>
    </ul>
</div>
<br />
@await Html.PartialAsync("_BoatClassList", Model.BoatClasses)
<br />
@await Html.PartialAsync("_FleetList", Model.Fleets)
<br />
@await Html.PartialAsync("_SeasonList", Model.Seasons)
<br />
@await Html.PartialAsync("_SeriesList", Model.Series)
<br />
@await Html.PartialAsync("_CompetitorList")
<br />
@await Html.PartialAsync("_RaceList", Model)
<br />
@await Html.PartialAsync("_ScoringSystems", Model.ScoringSystems)
<br />
@await Html.PartialAsync("_RegattaList", Model.Regattas)
<br />
@await Html.PartialAsync("_UserList", Model.Users)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

    </script>
}
