@using Microsoft.Extensions.Localization
@using SailScores.Web.Resources

@inject IStringLocalizer<SharedResource> localizer

@model SailScores.Web.Models.SailScores.AdminViewModel

@{
    ViewData["Title"] = "Admin " + Model.Name;
    Layout = "_ClubLayout";
}

@section Sidebar {
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky sticky-top">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#classes">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#fleets">Fleets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#seasons">Seasons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#series">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#competitors">Competitors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#races">Races</a>
                </li>
                @foreach (var item in Model.Races.GroupBy(s => s.Season?.Name ?? String.Empty, s => s))
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="#@item.Key">
                            @item.Key
                        </a>
                    </li>
                }

            </ul>
        </div>
    </nav>
}

<h2>@Model.Name</h2>
<h3>Admin</h3>
<hr />
@if (Model.Tips != null)
{
    @await Html.PartialAsync("_AdminToDoList", Model.Tips)
}
<div class="row">
    <div class="col-sm-4">
        <a asp-controller="Race"
           asp-action="Create"
           class="btn btn-outline-primary btn-sm">@localizer["New Race"]</a>
    </div>
    <div class="col-sm-4">
        <a asp-controller="Admin"
           asp-action="Edit"
           class="btn btn-outline-primary btn-sm">@localizer["Edit"]</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Initials)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Initials)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.Raw(String.IsNullOrWhiteSpace(Model.Description) ? "" : Markdig.Markdown.ToHtml(Model.Description))
            </dd>
            <dt>
                <label asp-for="IsHidden" class="control-label">Hidden</label>
                <span class="small">Hide this club from the front page club list?</span>
            </dt>
            <dd>
                @(Model.IsHidden ? "Yes" : "No")
            </dd>
            <dt>
                <label asp-for="Url" class="control-label"></label>
                <span class="small">Link to an external website for the club</span>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Url)
            </dd>
            <dt>
                <label asp-for="DefaultScoringSystemName">Default Scoring System</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DefaultScoringSystemName)
            </dd>
        </dl>

    </div>
</div>
<div id="accordion">
    @await Html.PartialAsync("_BoatClassList", Model.BoatClasses)
    @await Html.PartialAsync("_FleetList", Model.Fleets)
    @await Html.PartialAsync("_SeasonList", Model.Seasons)
    @await Html.PartialAsync("_SeriesList", Model.Series)
    @await Html.PartialAsync("_CompetitorList", Model.Competitors)
    @await Html.PartialAsync("_RaceList", Model.Races)
    @await Html.PartialAsync("_ScoringSystems", Model.ScoringSystems)
    @await Html.PartialAsync("_RegattaList", Model.Regattas)

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.collapse').on('show.bs.collapse', function (e) {
            var $card = $(this).closest('.card');
            $('html,body').animate({
                scrollTop: $card.offset().top - 50
            }, 300);
        });
    </script>
}
